/ col-md-4
%h3
  Order now! and get your shirt no later than
  %br/
  %span {{delivery_date | date:'MMMM dd, yyyy'}}
.checkout-orange-sticker
  %h4 BUY WITH 100% CONFIDENCE
  %ul
    %li Made By Australians, For Australians, In Australia
    %li 100% Money Back Guarantee
    %li Printed on Premium Quality Tees and Hoodies
    %li
      Got A Question? Speak to us right now on live chat below or call us on
      %strong 1300 76 65 67
.checkout-side-comment
  .comment-arrow
    .checkout-comment-container
      .checkout-comment-content
        %p “I got my hoodie today...so happy, I love it..fits perfect and so warm, great quality product too so thank you. Thanks also for emailing and keeping me informed with what was going on...great job guys n gals!”
      %img{:src => "/assets/checkout-comment-arrow-down.png"}
  %p.checkout-comment-name.commen-name-green-bg
    Vanessa Meyer
    %br/
    %span Sydney, Australia
  .comment-arrow
    .checkout-comment-container
      .checkout-comment-content
        %p Its awesome my girlfriend loves it! Thanks for the customer awesome service !!!
      %img{:src => "/assets/checkout-comment-arrow-down.png"}
  %p.checkout-comment-name.commen-name-blue-bg
    Andrew Bond
    %br/
    %span Sydney, Australia
  .comment-arrow
    .checkout-comment-container
      .checkout-comment-content
        %p Just wanted to thankyou for my hoodie as it just arrived today and I love it.
      %img{:src => "/assets/checkout-comment-arrow-down.png"}
  %p.checkout-comment-name.commen-name-orange-bg
    Kylie McTackett
    %br/
    %span Sydney, Australia
  .comment-arrow
    .checkout-comment-container
      .checkout-comment-content
        %p “I got it!!!! Thank youu guys n girls sooooo much I love it!! Deffinatly will buy more =D very happy! Thanks again!!”
      %img{:src => "/assets/checkout-comment-arrow-down.png"}
  %p.checkout-comment-name.commen-name-fb-bg
    Marlee Agius
    %br/
    %span Sydney, Australia
%p.text-center
  %img{:src => "/assets/sidebar-logo.jpg"}
/ col-md-4