.main-content.customer-info-page{:'ng-controller' => "CartCreditCardCtrl"}
  / landing-page-content
  = form_for @order, url: checkout_cart_index_path(:payment => "CC") do |c|
    .center
      - unless @errors.empty?
        .alert.alert-danger{style: "margin-top: 15px"}
          %ul{style: "margin: 0"}
            - @errors.each do |error|
              %li= error

      .col-lg-6.col-md-6.col-sm-6.col-xs-12.customer-info-left
        %h2 Customer Information
        .form#info
          .radio
            %label{:for => "ci-email"} Email
            %input#ci-email{:placeholder => "john.doe@email.com", :type => "text", :name => "order[email]", 'ng-model'=>"checkout.email", 'ng-blur'=>"fieldBlur()"}
            .clearfix
          %h3 Shipping Address
          .radio.fname-border
            %label{:for => "ci-fname"} First Name
            %input#ci-fname{:placeholder => "John", :type => "text", :name => "order[first_name]", 'ng-model'=>"checkout.first_name", 'ng-blur'=>"fieldBlur()"}
            .clearfix
          .radio.border-rad0.margtop-1
            %label{:for => "ci-lname"} Last Name
            %input#ci-lname{:placeholder => "Doe", :type => "text", :name=>"order[last_name]", 'ng-model'=>"checkout.last_name", 'ng-blur'=>"fieldBlur()"}
            .clearfix
          .radio.border-rad0.margtop-1
            %label{:for => "ci-address"} Address
            %input#ci-address{:autocomplete => "off", :placeholder => "123 ABC Street", :type => "text", :name=>"order[address]", 'ng-model'=>"checkout.address", 'ng-blur'=>"fieldBlur()"}
            .clearfix
          .radio.border-rad0.margtop-1
            %label{:for => "ci-state"} Suburb/Town
            %input#ci-town{:placeholder => "City", :type => "text", 'ng-model'=>"checkout.city", :name=>"order[city]", 'ng-blur'=>"fieldBlur()"}
            .clearfix
          .radio.border-rad0.margtop-1
            %label{:for => "ci-state"} State
            %input#ci-state{:placeholder => "State", :type => "text", 'ng-model'=>"checkout.state", :name=>"order[state]", 'ng-blur'=>"fieldBlur()"}
            .clearfix
          .radio.border-rad0.margtop-1
            %label{:for => "ci-pcode"} Postal Code
            %input#ci-pcode{:autocomplete => "off", :placeholder => "1110", :type => "text", 'ng-model' => "checkout.zip", :name => "order[zip]", 'ng-blur'=>"fieldBlur()"}
            .clearfix
          .radio.border-rad0.margtop-1
            %label{:for => "ci-country"} Country
            %input#ci-ccode{:type => "hidden", :name => "order[country]", 'ng-value' => "country.iso"}
            %input#ci-country{:placeholder => "Australia", :type => "text", 'ng-change' => "selectCountry(this)", 'ng-model' => "ci_country", 'ng-blur'=>"fieldBlur()"}
            .clearfix
          .radio.border-rad0.margtop-1.phone-border
            %label{:for => "ci-phone"} Phone
            %input#ci-phone{:placeholder => "66 7 3188 5168", :type => "text", :name => "order[phone]", "ng-model" => "checkout.phone", 'ng-blur'=>"fieldBlur()"}
            .clearfix
          %h3 Billing & Payment
          .radio.fname-border
            %label{:for => "ci-cards"} Credit Card
            %p.cards-holder
              %img{:src => "/assets/cards.png"}
            .clearfix
          .radio.border-rad0.margtop-1
            %label{:for => "ci-card-number"} Credit Number
            %input#ci-card-number{:placeholder => "----  ----  ----  ----", :type => "text", :name => "order[cc_number]", "ng-model" => "checkout.cc_number"}
            .clearfix
          .radio.border-rad0.margtop-1
            %label{:for => "ci-expiry"} Expiry
            .col-lg-12.nopadding.select2
              .col-lg-6.col-md-6.col-sm-6.col-xs-6
                = select_month nil, {add_month_numbers: true}, {name: 'order[month]', "ng-model" => "checkout.month"}
              .col-lg-6.col-md-6.col-sm-6.col-xs-6
                = select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: 'order[year]', "ng-model" => "checkout.year"}
              .clearfix
            .clearfix
          .radio.border-rad0.margtop-1.phone-border
            %label{:for => "ci-ccv"} CCV
            %input#ci-ccv{:placeholder => "123", :type => "text", :name => "order[cvn]", "ng-model" => "checkout.cvn"}
            .clearfix
          %input.place-order-now{:type => "submit", :value => "Place My Order Now"}
          %img{src: "/assets/sponsor-logo.png", :style => "display:block; margin: 0 auto;"}
          .clearfix
      .col-lg-6.col-md-6.col-sm-6.col-xs-12.customer-info-right
        .order-summary{'ng-cloak' => ""}
          .order-summary-header
            %h3 Order Summary
          .order-summary-body

            .item-summary{:'ng-repeat' => "item in items"}
              %a#item1-close.close-black{:href => "#", 'ng-click' => "removeItem(item.id)"}
              %ul
                %li
                  %img{:alt => "shirt", :'ng-src' => "{{item.image}}"}
                  .product-info{:style => "margin-top: 5px"}
                    %span.product-info-name
                      %strong {{item.title}}
                    %span.product-info-description
                      %select.qty{'ng-model' => "item.quantity", 'ng-options' => 'q for q in getQuantity(item)', 'ng-change' => "updateCart(item)"}
                      pc(s)
                      %select.sizes{'ng-model' => "item.size", 'ng-options' => 'size for size in getSizes(item)', 'ng-change' => "updateSize(item)"}
                      %span{"ng-if" => "!item.instock"}
                        %span -
                        %select{'ng-model' => "item.category", 'ng-options' => 'category.name for category in item.categories', 'ng-change' => "updateCategory(item)", :style => "max-width: 130px"}
                      %span{"ng-if" => "item.instock"}
                        = "- {{item.info.type}}"
                  %span.shirt-value {{item.info.amount * item.quantity  | currency:"$"}}
                  .clearfix
              %span.arrive-due-date Your order is due to arrive on {{delivery_date | date:'MMMM dd, yyyy'}}

            .discount
              %a.discount-link{:href => "#", 'ng-show' => "!show_coupon", 'ng-click' => "toggleCoupon()"} Have a discount code? Click here to enter it
              .discount-form#coupon-discount-form{'ng-show' => "show_coupon"}
                %label{:for => "checkout_discount_code"} Discount
                %input#checkout_discount_code{'ng-model' => "coupon.code", :placeholder => "......", :size => "30", :type => "text", :name => "order[coupon_code]"}
                %input.discount-btn{:name => "commit", :type => "button", :value => "Apply", 'ng-click' => "applyCoupon()"}
            .order-summary-section
              %ul
                %li
                  Subtotal
                  %span {{subtotal | currency:"$"}}
                %li{'ng-if' => "coupon.percent > 0"}
                  Coupon Discount
                  %span {{coupon.percent}}%
                %li
                  Shipping
                  %span {{shipping | currency:"$"}}
                %li
                  Total
                  %span {{shipping + subtotal | currency:"$"}}
            .payment-due
              %p
                Payment Due
                %span.due-value
                  %span.currency aud
                  {{shipping + subtotal - coupon.discount | currency:"$"}}
      .clearfix

  %script{:src => "//expresscapture.datatoolscloud.net.au/js/expresscapture-2.20.min.js?key=UE93-DR37-AT75-PU78", :type => "text/javascript"}
  %link{:href => "//expresscapture.datatoolscloud.net.au/css/expresscapture-2.20.min.css?key=UE93-DR37-AT75-PU78", :rel => "stylesheet", :type => "text/css"}