.main-content.customer-info-page{:'ng-controller' => "GiftCardCtrl"}
  / landing-page-content
  = form_for @order, url: giftcard_express_cart_index_path() do |c|
    .center
      - unless @errors.empty?
        .alert.alert-danger{style: "margin-top: 15px"}
          %ul{style: "margin: 0"}
            - @errors.each do |error|
              %li= error

      .col-lg-6.col-md-6.col-sm-6.col-xs-12.customer-info-left
        %h2 Customer Information
        .form
          .radio
            %label{:for => "ci-email"} Email
            %input#ci-email{:placeholder => "john.doe@email.com", :type => "text", :name => "order[email]", 'ng-model'=>"checkout.email", 'ng-blur'=>"fieldBlur()"}
            .clearfix
          %h3 Shipping Address
          .radio.fname-border
            %label{:for => "ci-fname"} First Name
            %input#ci-fname{:placeholder => "John", :type => "text", :name => "order[first_name]", 'ng-model'=>"checkout.first_name", 'ng-blur'=>"fieldBlur()"}
            .clearfix
          .radio.border-rad0.margtop-1
            %label{:for => "ci-lname"} Last Name
            %input#ci-lname{:placeholder => "Doe", :type => "text", :name=>"order[last_name]", 'ng-model'=>"checkout.last_name", 'ng-blur'=>"fieldBlur()"}
            .clearfix
          .radio.border-rad0.margtop-1
            %label{:for => "ci-address"} Address
            %input#ci-address{:autocomplete => "off", :placeholder => "123 ABC Street", :type => "text", :name=>"order[address]", 'ng-model'=>"checkout.address", 'ng-blur'=>"fieldBlur()"}
            .clearfix
          .radio.border-rad0.margtop-1
            %label{:for => "ci-state"} Suburb/Town
            %input#ci-town{:placeholder => "City", :type => "text", 'ng-model'=>"checkout.city", :name=>"order[city]", 'ng-blur'=>"fieldBlur()"}
            .clearfix
          .radio.border-rad0.margtop-1
            %label{:for => "ci-state"} State
            %input#ci-state{:placeholder => "State", :type => "text", 'ng-model'=>"checkout.state", :name=>"order[state]", 'ng-blur'=>"fieldBlur()"}
            .clearfix
          .radio.border-rad0.margtop-1
            %label{:for => "ci-pcode"} Postal Code
            %input#ci-pcode{:autocomplete => "off", :placeholder => "1110", :type => "text", 'ng-model' => "checkout.zip", :name => "order[zip]", 'ng-blur'=>"fieldBlur()"}
            .clearfix
          .radio.border-rad0.margtop-1
            %label{:for => "ci-country"} Country
            %input#ci-ccode{:type => "hidden", :name => "order[country]", 'ng-value' => "country.iso"}
            %input#ci-country{:placeholder => "Australia", :type => "text", 'ng-change' => "selectCountry(this)", 'ng-model' => "ci_country", 'ng-blur'=>"fieldBlur()"}
            .clearfix
          .radio.border-rad0.margtop-1.phone-border
            %label{:for => "ci-phone"} Phone
            %input#ci-phone{:placeholder => "Optional", :type => "text", :name => "order[phone]", "ng-model" => "checkout.phone", 'ng-blur'=>"fieldBlur()"}
            .clearfix

          %input.place-order-now{:type => "submit", :value => "Place My Order Now"}
          .clearfix
      .col-lg-6.col-md-6.col-sm-6.col-xs-12.customer-info-right
        .order-summary{'ng-cloak' => ""}
          .order-summary-header
            %h3 Order Summary
          .order-summary-body

            .item-summary{:'ng-repeat' => "item in items"}
              %ul
                %li
                  %img{:alt => "shirt", :'ng-src' => "{{item.image}}"}
                  .product-info{:style => "margin-top: 5px"}
                    %span.product-info-name
                      %strong {{item.title}}
                    %span.product-info-description
                      {{item.quantity}}
                      pc(s)
                      {{item.size}}
                      = "- {{item.info.type}}"
                  %span.shirt-value {{item.info.amount * item.quantity  | currency:"$"}}
                  .clearfix
              %span.arrive-due-date Your order is due to arrive on {{delivery_date | date:'MMMM dd, yyyy'}}


            .order-summary-section
              %ul
                %li
                  Subtotal
                  %span {{subtotal | currency:"$"}}

                %li{'ng-if' => "!giftcard.error"}
                  Giftcard Discount
                  %span {{giftcard.amount | currency: "$"}}
                %li
                  Shipping
                  %span {{shipping | currency:"$"}}
                %li
                  Total
                  %span {{shipping + subtotal | currency:"$"}}
            .payment-due
              %p
                Payment Due
                %span.due-value
                  %span.currency aud

                  {{TotalwithGiftCards(shipping,subtotal, giftcard.amount) | currency:"$"}}
      .clearfix

