.main-content.customer-info-page{:'ng-controller' => "CartListCtrl"}
  / landing-page-content
  .center
    = form_for @order, url: checkout_cart_index_path(:payment => "PP") do |c|
      - unless @errors.blank?
        .alert.alert-danger
          %ul{:style => "margin: 0;"}
            - @errors.each do |err|
              %li=err
      .col-lg-6.col-md-6.col-sm-6.col-xs-12.customer-info-right
        .order-summary
          .order-summary-body

            .item-summary{:'ng-repeat' => "item in items"}
              %a.close-black{:href => "#", 'ng-click' => "removeItem(item.id)"}
              %ul
                %li
                  %img{:alt => "shirt", :'ng-src' => "{{item.image}}"}
                  .product-info{:style => "margin-top: 5px"}
                    %span.product-info-name
                      %strong {{item.title}}
                    %span.product-info-description
                      %select.qty{'ng-model' => "item.quantity", 'ng-options' => 'q for q in getQuantity(item)', 'ng-change' => "updateCart(item)"}
                      pc(s)
                      %select.sizes{'ng-model' => "item.size", 'ng-options' => 'size for size in getSizes(item)', 'ng-change' => "updateSize(item)"}
                      %span{"ng-if" => "!item.instock"}
                        %span -
                        %select{'ng-model' => "item.category", 'ng-options' => 'category.name for category in item.categories', 'ng-change' => "updateCategory(item)", :style => "max-width: 130px"}
                      %span{"ng-if" => "item.instock"}
                        = "- {{item.info.type}}"
                  %span.shirt-value {{item.info.amount * item.quantity  | currency:"$"}}
                  .clearfix
              %span.arrive-due-date Your order is due to arrive on {{delivery_date | date:'MMMM dd, yyyy'}}

      .col-lg-6.col-md-6.col-sm-6.col-xs-12.customer-info-right
        .order-summary
          .order-summary-header
            %h3 Order Summary
          .discount
            %a.discount-link{:href => "#", 'ng-show' => "!show_coupon", 'ng-click' => "toggleCoupon()"} Have a discount code? Click here to enter it
            .discount-form#coupon-discount-form{'ng-show' => "show_coupon"}
              %label{:for => "checkout_discount_code"} Discount
              %input#checkout_discount_code{'ng-model' => "coupon.code", :placeholder => "......", :size => "30", :type => "text"}
              %input.discount-btn{:name => "commit", :type => "button", :value => "Apply", 'ng-click' => "applyCoupon()"}

          - unless Rails.env.production?
            .discount
              %a.discount-link{:href => "#", 'ng-show' => "!show_giftcard", 'ng-click' => "toggleGiftcard()"} Have a Gift Card? Click here to use
              .discount-form#giftcard-discount-form{'ng-show' => "show_giftcard"}
                %p{:style=>"text-align:center"} Gift Card are only valid for one user
                %label{:for => "checkout_discount_code"} Gift Card

                %input#checkout_discount_code{:style=> "border:1px solid #000",'ng-model' => "giftcard.code", :placeholder => "......", :size => "30", :type => "text"}
                %input.discount-btn{:name => "commit", :type => "button", :value => "Verify", 'ng-click' => "applyGiftCard()"}
                %label{'ng-if' => "!giftcard.error "} New Credit :
                %strong{'ng-if' => "!giftcard.error "} {{giftcard.amount | currency: "$"}}
          
          .order-summary-section
            / %p {{giftcard}}
            %ul
              %li
                Subtotal
                %span {{subtotal | currency:"$"}}
              %li{'ng-if' => "coupon.percent > 0"}
                Coupon Discount
                %span {{coupon.percent}}%
              %li{'ng-if' => "!giftcard.error"}
                Giftcard Discount
                %span {{giftcard.remains | currency: "$"}}

              %li
                Shipping
                %span {{shipping | currency:"$"}}
              %li
                Total
                %span {{shipping + subtotal | currency:"$"}}
          .payment-due
            %p
              Payment Due
              %span.due-value
                %span.currency aud
                {{shipping + subtotal - coupon.discount - giftcard.remains | currency:"$"}}

        .checkout-btn
          %a.green{:href => creditcard_cart_index_path} Checkout via Card
          %a.btn-sm-custom-pop02.popup-checkout-button{:href => checkout_cart_index_path(:payment => "PP")}
            Checkout with
            %span Paypal

      .clearfix