.content-checkout{:'ng-controller' => "CartCtrl"}
  .container.check-out-grey-bg
    .row
      - unless @errors.empty?
        .alert.alert-danger{style: "margin-top: 15px"}
          %ul{style: "margin: 0"}
            - @errors.each do |error|
              %li= error


      .col-md-8.checkout-leftcontent
        / col-md-8
        .checkout-order-details
          %h2 Order Details
          .spacer
          = form_for @order, url: checkout_cart_index_path do |c|

            .order-sample-container{:'ng-repeat' => "item in items"}
              %input{:type => "hidden", :name => "order[items][][quantity]", :value => "{{item.quantity}}"}
              %input{:type => "hidden", :name => "order[items][][category_id]", :value => "{{item.category_id}}"}
              %input{:type => "hidden", :name => "order[items][][product_id]", :value => "{{item.product_id}}"}
              %input{:type => "hidden", :name => "order[items][][size]", :value => "{{item.size}}"}

              %a{:'ng-click' => "removeItem(item.id)", :style => "cursor: pointer"}
                %img.x-btn{:src => "/assets/x-btn.png"}
              .col-md-2.order-img-container.text-center
                %img{:'ng-src' => "{{item.image}}"}
              .col-md-10
                %h3 {{item.title}}
                %p
                  You have ordered a
                  %strong {{item.info.type}}
                  , in size:
                %select.small-select{:'ng-options' => "size for size in item.info.sizes", :'ng-model' => "item.size"}
                / %p
                %p
                  / Quantity:
                  %input{type: "hidden", :'ng-model' => "item.quantity", :style => "width: 65px"}

                %p.shirt-price {{item.info.amount * item.quantity | currency:"$"}}
              .clearfix

            %p.shipping-fee
              Shipping fee
              %span {{shipping | currency:"$"}}
            %p.details-total
              TOTAL :
              %span {{shipping + subtotal | currency:"$"}}

            .checkout-shipping-information{:'ng-show' => "payment == 'CC'"}
              %h2 Shipping Information
              %p.field-note All Fields Are Required
              .spacer
              .checkout-shipping-form-container
                .col-md-6
                  %p First Name
                  %input{ :tabindex=>1, :type => "text", :name => "order[first_name]", :placeholder => "Enter your first name", :'ng-model'=>"checkout.first_name" }
                  .spacer15
                  %p Last Name
                  %input{ :tabindex=>2, :type=>"text", :name=>"order[last_name]", :placeholder=>"Enter your last name", :'ng-model'=>"checkout.last_name" }
                  .spacer15
                  %p Email Address
                  %input{:tabindex=>3, :type => "email", :name => "order[email]", :placeholder => "Enter your email address", :'ng-model'=>"checkout.email" }
                  .spacer15
                  %p Phone Number
                  %input{:tabindex=>4, :type=>"text", :name=>"order[phone]", :placeholder=>"Enter your phone number", :'ng-model'=>"checkout.phone" }
                  .spacer15

                .col-md-6
                  %p Street Address
                  %input{:tabindex=>5, :name=>"order[address]", :placeholder=>"Enter your address", :type=>"text",:'ng-model'=>"checkout.address" }
                  .spacer15

                  %p Suburb / Town
                  %input.field#locality{:tabindex=>6,:'ng-model'=>"checkout.city",:name=>"order[city]", :type=>"text"}
                  .spacer15

                  .col-md-6.no-padding-left
                    %p State
                    %input.field#administrative_area_level_1{:tabindex=>7, :'ng-model'=>"checkout.state", :name=>"order[state]", :type=>"text"}

                  .col-md-6.no-padding-right
                    %p Postal Code
                    %input.field#postal_code{:tabindex => 8, :'ng-model' => "checkout.zip", :name => "order[zip]", :type => "text" }
                  .clearfix
                  .spacer15

                  %p Country
                  %input{:type => "hidden", :name => "order[country]", :value => "{{checkout.country}}"}
                  = select_tag :select, "", {:'ng-model' => "country", :'ng-options' => 'c.name for c in countries', :'ng-change' => "selectCountry(this)"}

                  .clearfix
                .clearfix
            .checkout-payment-option
              .spacer
              .radio01.radioCurrent
                %label
                  %input#optionsRadios2{:name => "payment", :type => "radio", :value => "PP", :'ng-click' => "payment = 'PP'", :'ng-checked' => 'payment == "PP"'}
                  %img{:src => "/assets/pp.png"}
              .radio02
                %label
                  %input#optionsRadios1{:name => "payment", :type => "radio", :value => "CC", :'ng-click' => "payment = 'CC'", :'ng-checked' => 'payment == "CC"'}
                  %img{:src => "/assets/cc.png"}

            / START OF PAYING OPTIONS, PAYING OPTIONS WILL CHANGE IF RADIO BUTTONS ARE CLICK
            / CREDIT CARD

            .checkout-credit-card
              .credit-card-info{:'ng-show' => "payment == 'CC'"}
                %h2 Credit card information
                %p.field-note All Fields Are Required
                .spacer
                .col-md-6
                  %p Credit card number
                  %input.ng-pristine.ng-valid{:name => "order[cc_number]", "ng-model" => "checkout.cc_number", :type => "text", :value => ""}
                .col-md-3
                  %p Expiration date
                  %input.exp-date.ng-pristine.ng-valid{:name => "order[month]", "ng-model" => "checkout.month", :placeholder => "MM", :type => "text"}
                  %span.date-dash -
                  %input.exp-date.ng-pristine.ng-valid{:name => "order[year]", "ng-model" => "checkout.year", :placeholder => "YY", :type => "text"}
                  .clearfix
                .col-md-3
                  %p CVV code
                  %input.ng-pristine.ng-valid{:name => "order[cvn]", "ng-model" => "checkout.cvn", :type => "text", :value => ""}
                .clearfix
                .spacer

              %p{:style => "padding: 0 15px"}
                %a{"ng-click" => "toggleCoupon()", :style => "cursor: pointer; color: #ccc"} Have a coupon code?
              %p.ng-hide{"ng-show" => "show_coupon", :style => "padding: 0 15px"}
                %input.ng-pristine.ng-valid{:name => "order[coupon_code]", "ng-class" => "coupon.txtClass", "ng-model" => "coupon.code", :placeholder => "Coupon Code", :style => "width: 50%", :type => "text"}
                %input.ng-pristine.ng-valid{:name => "check_coupon", "ng-model" => "coupon.checked", :type => "hidden"}
                %input.checkout-coupon-btn{:name => "button", "ng-class" => "coupon.class", "ng-click" => "applyCoupon()", "ng-value" => "coupon.btn", :type => "button", :value => "Apply Coupon"}
              .clearfix
              .col-md-12
                .checkout-total
                  %p.total-price
                    Your Order total :
                    %span.ng-binding
                      {{shipping + subtotal - coupon.discount | currency:"$"}}
                  %p.arrive-date
                    Your order will arrive No Later than:
                    %span
                      {{delivery_date | date:'MMM dd, yyyy'}}
                  .clearfix
                %input{:name => "Submit", "ng-click" => "submitCheckout()", :type => "submit", :value => "Place your order now"}
              .spacer15
              %p.text-center
                %img{:src => "/assets/sponsor-logo.png"}

      / col-md-8
      .col-md-4.sidebar-checkout
        = render "comments"