!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      FanTees - New Order
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
  %body{style:"margin:0;"}
    %table{width:"620",border:"0",cellspacing:"0",cellpadding:"0",style:"margin:0 auto;display:block; font-family:Arial, Helvetica !important;"}
      %tr
        %td
          %div{style:"max-width:580px;width:100%;margin:0 auto;background:url(https://s3.amazonaws.com/fantees/mailer/logo-bg.jpg)repeat-x #304055;padding:10px 20px;"}
            %a{href:"https://#{ENV['BASE_URL']}"}
              = image_tag "https://s3.amazonaws.com/fantees/mailer/logo.jpg"
            %span{style:"color:#fff;font-weight:bold;float:right;margin:7px 0 0;font-size:14px;"} QUESTION? SPEAK TO US 1300 76 65 67

          %div{style:"max-width:580px;width:100%;margin:0 auto;padding:10px 20px 15px;border-bottom:1px solid #e2e5e7;"}
            %h1{style:"font-size:24px;color:#304055;text-align:center;text-transform:uppercase;font-weight:bold;"} YOUR FANTEES GIFT CARD!
            %p{style:"font-size:14px;color:#777777;font-family:Arial,Helvetica,sans-serif;margin-bottom:18px;text-align:center"}
              = "Your Order ID is: #{@order.order_id}"
            %p{style:"font-size:14px;color:#777777;font-family:Arial,Helvetica,sans-serif;margin-bottom:18px;"}
              = "Hey #{@order.user.first_name},"
            %p{style:"font-size:14px;color:#777777;font-family:Arial,Helvetica,sans-serif;margin-bottom:18px;"} It's exciting I know, getting a Gift Card from us here at FanTees ;-)

            %p{style:"font-size:14px;color:#777777;font-family:Arial,Helvetica,sans-serif;margin-bottom:18px;"} You can see all your order details below:

            %div{style:"background:#f6f6f6;padding:15px;margin-bottom:5px;"}
              - @items.each do |i|
                %div{style:"width:30%;float:left;"}
                  = image_tag i[:image], {style:"height:130px;width:100px;background:none repeat scroll 0% 0% rgb(255, 255, 255);padding:20px;border:1px solid rgb(205,205,205);box-shadow:0px 1px 0px rgb(224,224,224) inset;"}

                %div{style:"width:70%;float:left;"}
                  - if i == @items.first
                    %h3{style:"font-size:14px;font-weight:bold;color:#304055;"} Order Summary

                  %p{style:"font-size:14px;color:#777777;font-family:Arial,Helvetica,sans-serif;margin-bottom:0px;"}
                    = "#{i[:name]}, #{i[:category]} #{i[:size]}"
                    %span{style:"float:right;"}
                      = number_to_currency(i[:amount])

                  - if i == @items.last
                    %p{style:"font-size:14px;color:rgb(119,119,119);font-family:Arial,Helvetica,sans-serif;margin-top:0px;margin-bottom:25px;"}
                      Shipping
                      %span{style:"float:right;"}
                        = number_to_currency(@shipping)
                    %p{style:"font-size:14px;font-weight:bold;color:#304055;border-top:1px solid rgb(147,147,147);padding-top:21px;box-shadow:0px 1px 0px rgb(210,210,210) inset;"}
                      Your Total
                      %span{style:"float:right;color:#579df0;font-size:18px;"}
                        = number_to_currency(@subtotal + @shipping)

                %div{style:"clear:both"}

            - if @giftcards.length != 0
              %h2{:style => "font-size:18px; font-weight:bold;color:#304055;margin-top:30px;"} The Most Important Part Of All...
              %p{:style => "font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} To use the Gift Card you'll need the uique Gift Card code to be used during the checkout process.
              %div{:style => "background:#f6f6f6;padding:15px;"}
                - @giftcards.each do |gc|
                  %p{:style => "font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"}
                    Unique Gift Card Code:
                    = gc.key_code

                - unless @password.nil?
                  %p{:style => "font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"}
                    You can also access this Gift Card code anytime by going to our customer portal at:
                    %a{:href => "https://#{ENV['BASE_URL']}/dashboard/"} 
                      = "https://#{ENV['BASE_URL']}/dashboard/"
                  %p{:style => "font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} Using these details:
                  %p{:style => "font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:0;"}
                    Account Username:
                    = @order.user.email

                  %p{:style => "font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-top:0;"}
                    Account Password:
                    = @password



            %p{style:"font-size:14px;color:#777777;font-family:Arial,Helvetica,sans-serif;margin-bottom:18px;"} If you ever just want to have a chat to one of the awesome FanTees Family and talk about the weather, tell jokes or even change something in regards to your order just buzz on 1300 76 65 67 - just note if it's midnight we may not answer right away ;)
            %p{style:"font-size:14px;color:#777777;font-family:Arial,Helvetica,sans-serif;margin-bottom:18px;"} Before I go you have to make me one promise... As soon as you get your top you'll send me a "selfie" (I think that's what they are) of you in it!
            %p{style:"font-size:14px;color:#777777;font-family:Arial,Helvetica,sans-serif;margin-bottom:18px;"}
              = "- Matt & the"
              %a{href:"https://#{ENV['BASE_URL']}/",style:"color:#3996d2;text-decoration:none;"} FanTees.com.au
              Family




          %div{style:"max-width:580px;width:100%;margin:0 auto;padding:12px 20px;background:#000;text-align:center;"}
            %ul{style:"padding:0;margin:0;display:inline-block;margin:0 auto;"}
              %li{style:"float:left;list-style:none;margin-right:10px;margin-left:15px;font-family:Arial,Helvetica,sans-serif;"}
                %a{href:"https://www.facebook.com/fanteesau",style:"text-decoration:none;color:rgb(255,255,255);font-size:14px;background:url('https://s3.amazonaws.com/ftemail/facebook-36x36.png') no-repeat scroll left center transparent;padding: 10px 10px 10px 40px;display:inline-block;",target:"_blank"} Facebook
              %li{style:"float:left;list-style:none;margin-right:10px;font-family:Arial,Helvetica,sans-serif;"}
                %a{href:"http://instagram.com/fanteesau",style:"text-decoration:none;color:rgb(255,255,255);font-size:14px;background:url('https://s3.amazonaws.com/ftemail/instagram-36x36.png') no-repeat scroll left center transparent;padding:10px 10px 10px 40px;display:inline-block;",target:"_blank"} Instagram
              %li{style:"float:left;list-style:none;margin-right:10px;font-family:Arial,Helvetica,sans-serif;"}
                %a{href:"https://twitter.com/fanteesau",style:"text-decoration:none;color:rgb(255,255,255);font-size:14px;background:url('https://s3.amazonaws.com/ftemail/twitter-36x36.png') no-repeat scroll left center transparent;padding:10px 10px 10px 40px;display:inline-block;",target:"_blank"} Twitter
              %li{style:"float:left;list-style:none;margin-right:10px;font-family:Arial,Helvetica,sans-serif;"}
                %a{href:"https://#{ENV['BASE_URL']}/",style:"text-decoration:none;color:rgb(255,255,255);font-size:14px;background:url('https://s3.amazonaws.com/ftemail/shop-36x36.png') no-repeat scroll left center transparent;padding:10px 10px 10px 40px;display:inline-block;",target:"_blank"} Shop
              %div{style:"clear:both;"}

          %div{style:"clear:both;"}
          %div{style:"max-width:580px;width:100%;margin:0 auto;padding:10px 20px;background:#334056;text-align:center;color:#fff;font-size:12px;"}
            %p{style:"margin:0;font-family:'Lato',sans-serif;font-weight:bold;"}
              Call Us 1300 76 65 67 |
              %a{href:"https://#{ENV['BASE_URL']}/contact-us",style:"color:#fff;text-decoration:underline;"}
                Email Us
              = "|"
              %a{href:"https://#{ENV['BASE_URL']}/contact-us",style:"color:#fff;text-decoration:underline;"}
                Support
              = "|"
              %a{href:"https://#{ENV['BASE_URL']}/dashboard",style:"color:#fff;text-decoration:underline;"} Track Your Orders
            %p{style:"font-family:Arial,Helvetica,sans-serif;margin:10px 0;"} &copy; 2014 FanTees PTY LTD
