!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Duplicate Order
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
  %body{style:"margin:0;"}
    %table{width:"620", border:"0", cellspacing:"0", cellpadding:"0", style:"margin:0 auto;display:block; font-family:Arial, Helvetica, sans-serif;"}
      %tr
        %td
          
          %div{style:"max-width:580px; width:100%; margin:0 auto; background:url(https://s3.amazonaws.com/fantees/mailer/logo-bg.jpg)repeat-x #304055; padding:10px 20px;"}
            %a{href: "#"}
              = image_tag "https://s3.amazonaws.com/fantees/mailer/logo.jpg"
            %span{style:"color:#fff; font-weight:bold; float:right; margin: 7px 0 0; font-size:14px;"} QUESTION? SPEAK TO US 1300 76 65 67

          / content
          %div{style:"max-width:580px; width:100%; margin:0 auto; padding:10px 20px 15px; border-bottom:1px solid #e2e5e7;"}
            %h1{style:"font-size:24px; color: #304055; text-align:center; text-transform:uppercase; font-weight:bold;"} Ooops, Was It An Error?
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} 
              = "Hey #{@user.first_name.humanize},"
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} I just noticed your order went through multiple times earlier for the same item within a few minutes of each other.
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} Just wanted to double check to see if that was on purpose or if there was a hiccup in the system there.
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} If it was an error I will let the accounts team know and get the extras cancelled and refunded for you.
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} If it was on purpose, that is awesome, just drop me a reply and let me know either way and we will get this sorted for you :)
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} 
              = "- Adrienne & the " 
              %a{href:"https://#{ENV['BASE_URL']}/", style:"color:#3996d2;text-decoration:none;"} FanTees.com.au 
              Family

          %div{style:"max-width:580px; width:100%; margin:0 auto; padding:12px 20px; background:#000; text-align:center;"}
            %ul{style:"padding: 0; margin: 0;display:inline-block;margin: 0 auto;"}
              %li{style:"float:left; list-style:none; margin-right: 10px; margin-left:15px; font-family:Arial, Helvetica, sans-serif;"} 
                %a{href:"https://www.facebook.com/fanteesau", style:"text-decoration: none; color: rgb(255, 255, 255); font-size: 14px; background: url('https://s3.amazonaws.com/ftemail/facebook-36x36.png') no-repeat scroll left center transparent; padding: 10px 10px 10px 40px; display: inline-block;", target:"_blank"} Facebook
              %li{style:"float:left; list-style:none; margin-right: 10px; font-family:Arial, Helvetica, sans-serif;"} 
                %a{href:"http://instagram.com/fanteesau", style:"text-decoration: none; color: rgb(255, 255, 255); font-size: 14px; background: url('https://s3.amazonaws.com/ftemail/instagram-36x36.png') no-repeat scroll left center transparent; padding: 10px 10px 10px 40px; display: inline-block;", target:"_blank"} Instagram
              %li{style:"float:left; list-style:none; margin-right: 10px; font-family:Arial, Helvetica, sans-serif;"} 
                %a{href:"https://twitter.com/fanteesau", style:"text-decoration: none; color: rgb(255, 255, 255); font-size: 14px; background: url('https://s3.amazonaws.com/ftemail/twitter-36x36.png') no-repeat scroll left center transparent; padding: 10px 10px 10px 40px; display: inline-block;", target:"_blank"} Twitter
              %li{style:"float:left; list-style:none; margin-right: 10px; font-family:Arial, Helvetica, sans-serif;"} 
                %a{href:"https://#{ENV['BASE_URL']}/", style:"text-decoration: none; color: rgb(255, 255, 255); font-size: 14px; background: url('https://s3.amazonaws.com/ftemail/shop-36x36.png') no-repeat scroll left center transparent; padding: 10px 10px 10px 40px; display: inline-block;", target:"_blank"} Shop
              %div{style:"clear:both;"}

          %div{style:"clear:both;"}

          %div{style:"max-width:580px; width:100%; margin:0 auto; padding:10px 20px; background:#334056; text-align:center; color:#fff; font-size:12px;"}
            %p{style:"margin:0; font-family:Arial, Helvetica, sans-serif; font-weight:bold;"} 
              Call Us 1300 76 65 67  |   
              %a{href:"https://#{ENV['BASE_URL']}/contact-us", style:"color:#fff; text-decoration:underline;"} Email Us  
              | 
              %a{href:"https://#{ENV['BASE_URL']}/contact-us", style:"color:#fff; text-decoration:underline;"} Support  
              |  
              %a{href:"https://#{ENV['BASE_URL']}/dashboard", style:"color:#fff; text-decoration:underline;"} Track Your Orders
            
            %p{style:"font-family:Arial, Helvetica, sans-serif; line-height: normal; margin-top: 10px;"} 
              To unsubscribe, make changes to your subscription preferences, or receive fewer emails from us, visit our 
              %a{href:"#", style:"color:#4d94de; text-decoration:underline;"} Subscription Center. 
              If you received this email from a friend, 
              %a{href:"https://#{ENV['BASE_URL']}", style:"color:#4d94de;text-decoration:underline;"} subscribe to the newsletter here.
            
            %p{style:"font-family:Arial, Helvetica, sans-serif; margin:0;"} © 2014 FanTees PTY LTD