!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
	%head
		%meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%title
			FanTees - Unfinished Order
		%meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
	%body{style:"margin:0;"}

		= image_tag render_email_pixel_url("10-days"), {:style=>"display:none;"}

		%table{width:"600", border:"0", style:"color:#000;font-size:12px;margin:0 auto;background:#fff;font-family: 'Open Sans', sans-serif;font-weight:400;", cellspacing:"0"}
			%tr{style:"background:#2d4154;height:50px;"}
				%td{width:"299"}
					%img{src:"https://d2worlu18991dl.cloudfront.net/assets/logo-a72a78623c4c9f263b996f2f4cc0c9e7.png", width:"89", height:"19", alt:"FanTees", style:"margin-left:20px;"}
				%td{width:"297"}
					%span{style:"font-size:12px;color:#fff;font-family: 'Open Sans', sans-serif;float:right;margin-right:20px;font-weight:400;"} Questions? Speak to Us 1300 76 65 67

			%tr
				%td{colspan:"2", style:"padding:0;"}
					%div{style:"padding: 30px; font-size: 15px;font-family:Arial, Helvetica, sans-serif; color: #666;"}
						%p
							= "Hey #{@first_name},"
						%p In the last week we've released over 15 new designs that I thought you might like.
						%p And because you missed out on the last design you were after I wanted to give you a 15% discount coupon to use on your next order to make up for it!
						%p You can see all our new designs by heading over to:
						%p 
							= "==>" 
							%a{href:"https://#{ENV['BASE_URL']}/?utm_source=abandon&utm_medium=email&utm_campaign=ftabandonemail", style:"color:#3ea3e6; text-decoration: none !important;"} https://FanTees.com.au
						%p 
							Once you've found the designs you like, simply use the coupon code:
							%br
							%strong WERESORRY
							to get 15% off your order!

						%p 
							= "-Adrienne"
							%br
							Head of Customer Happiness
				
					%div{style:"max-width:560px; width:100%; margin:0 auto; padding:8px 20px 12px; background:#000;text-align: center;"}
						%ul{style:"padding: 0; margin: 0 auto; display: inline-block;"}
							%li{style:"float:left; list-style:none; margin-right: 10px; font-family:Arial, Helvetica, sans-serif;"}
								%a{target:"_blank", style:"text-decoration: none; color: rgb(255, 255, 255); font-size: 14px; background: url('https://s3.amazonaws.com/ftemail/facebook-36x36.png') no-repeat scroll left center transparent; padding: 10px 10px 10px 40px; display: inline-block;", href:"https://www.facebook.com/fanteesau"} Facebook

							%li{style:"float:left; list-style:none; margin-right: 10px; font-family:Arial, Helvetica, sans-serif;"}
								%a{target:"_blank", style:"text-decoration: none; color: rgb(255, 255, 255); font-size: 14px; background: url('https://s3.amazonaws.com/ftemail/instagram-36x36.png') no-repeat scroll left center transparent; padding: 10px 10px 10px 40px; display: inline-block;", href:"http://instagram.com/fanteesau"} Instagram

							%li{style:"float:left; list-style:none; margin-right: 10px; font-family:Arial, Helvetica, sans-serif;"}
								%a{target:"_blank", style:"text-decoration: none; color: rgb(255, 255, 255); font-size: 14px; background: url('https://s3.amazonaws.com/ftemail/twitter-36x36.png') no-repeat scroll left center transparent; padding: 10px 10px 10px 40px; display: inline-block;", href:"https://twitter.com/fanteesau"} Twitter
              
							%li{style:"float:left; list-style:none; margin-right: 10px; font-family:Arial, Helvetica, sans-serif;"}
								%a{target:"_blank", style:"text-decoration: none; color: rgb(255, 255, 255); font-size: 14px; background: url('https://s3.amazonaws.com/ftemail/shop-36x36.png') no-repeat scroll left center transparent; padding: 10px 10px 10px 40px; display: inline-block;", href:"https://#{ENV['BASE_URL']}/"} Shop
              
							%div{style:"clear:both;"}

			%tr{style:"background:#2d4154;height:50px;"}
				%td{colspan:"2"}
					%span{style:"font-size:10px;color:#fff;display:block;text-align:center;font-family: 'Open Sans', sans-serif;font-weight:400;"} 
						To unsubscribe please click 
						%a{href:"#"} here
						%br
						FanTees.com.au
						%br
						Address, City, State, zip