!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
	%head
		%meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%title
			FanTees - Unfinished Order
		%meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
	%body{style:"margin:0;"}

		= image_tag render_email_pixel_url("1-day"), {:style=>"display:none;"}

		%table{width:"600", border:"0", style:"color:#000;font-size:12px;margin:0 auto;background:#fff;font-family: 'Open Sans', sans-serif;font-weight:400;", cellspacing:"0"}
			%tr
				%td{colspan:"2", style:"padding:0;"}
					%div{style:"padding: 30px; font-size: 15px;font-family:Arial, Helvetica, sans-serif; color: #666;"}
						%p
							= "Hey #{@first_name},"
						%p Adrienne again, just wanted to let you know that we're still holding the items in your cart ready for you.
						%p As a refresher we have the following ready for you to complete your order on:
						%div{style:"background:#f3f3f3;padding: 15px;margin-bottom: 10px;"}
							%table{cellpadding:"0", cellspacing:"0", style:"font-family:Arial, Helvetica, sans-serif; color: #2d4154; border:2px solid #b7b7b7;margin-bottom: 10px; width: 100%;"}
								
								- grand_total = 0
								- shipping_fee = @order.settings(:cart).shipping_fee
								- @order.settings(:cart).items.each do |item|
									- sub_total = item[:info][:amount] * item[:quantity]
									- grand_total += sub_total

									%tr{style:"background: #fff;"}
										%td{align:"center", style:"padding: 20px 0; width:24%;"}
											%img{src:"#{item[:image]}", style:"height:102px;width:85px;"}
										%td{align:"left", valign:"top", style:"padding: 20px 0; font-size:15px; width:24%;"}
											%strong
												= item[:title]
											%br
											%br
											= "You have ordered a #{item[:info][:type]}, in size: #{item[:size]}"
										%td{align:"center", valign:"top", style:"padding: 20px 0; font-size:15px; width:17%;"}
											= number_to_currency(item[:info][:amount])
										%td{align:"center", valign:"top", style:"padding: 20px 0; font-size:15px; width:17%;"}
											= item[:quantity]
										%td{align:"center", valign:"top", style:"padding: 20px 0; font-size:15px; width:17%;"}
											%strong
												= number_to_currency(sub_total)

								

							%table{cellpadding:"0", cellspacing:"0", style:"font-family:Arial, Helvetica, sans-serif; color: #2d4154; border:2px solid #b7b7b7;margin-bottom: 10px; width: 100%;"}
								%tr{style:"background: #fff;"}
									%td{style:"padding: 20px; font-size:15px; width:50%;"}
										%strong Shipping Fee
									%td{align:"right", style:"padding: 20px; font-size:15px; width:50%;"}
										%strong
											= number_to_currency(shipping_fee)
            
						%table{cellpadding:"0", cellspacing:"0", style:"font-family:Arial, Helvetica, sans-serif; color: #222;  width: 100%; background: #f3f3f3; padding: 18px 35px;"}
							%tr
								%td{align:"left", style:"font-size:18px; font-weight:bold;"} Total
								%td{align:"right", style:"font-size:18px; font-weight:bold;"}
									= number_to_currency(grand_total + shipping_fee)

						%p To make this even better for you, I've got a 10% discount code here for you to use on your order, simply enter the code on the cart page and get 10% off your order!
						%p 
							Your discount code is: 
							%strong WELCOMEBACK
						%p{style:"text-align: center;"}
							%a{href:"#{@rebuild_url}"}
								%img{src:"https://s3.amazonaws.com/ftemail/checkout-securely.png"}
						%p 
							= "-Adrienne"
							%br
							Head of Customer Happiness
						%p P.S - If you need anything feel free to give me a call on 1300 76 65 67 :)