.modal-body .wrapper {
  padding: 0 20px;
}
.modal-body .row {
  margin-bottom: 5px;
}
.modal-body label {
  display: block;
  padding-top: 7px;
}
.modal-body input {
  padding: 10px;
  width: 100%;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
}