.main-content.login-page
  .center
    .alert.alert-warning
      Trouble Logging In? Reset Your Password Or Contact our Support
    %h2 Login to View your Orders

    = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-horizontal", :role => "form"}) do |f|
      .form-group
        = f.label :email, {:class => "col-lg-2 col-md-2 col-sm-2 col-xs-12 control-label"}
        .col-lg-10.col-md-10.col-sm-10.col-xs-12
          = f.email_field :email, {:autofocus => true, :class => "form-control"}
      .form-group
        = f.label :password, {:class => "col-sm-2 control-label"}
        .col-lg-10.col-md-10.col-sm-10.col-xs-12
          = f.password_field :password, {:class => "form-control"}
      .form-group
        .col-sm-offset-2.col-lg-5.col-md-5.col-sm-5.col-xs-12
          - if devise_mapping.rememberable?
            .checkbox
              %label
                = f.check_box :remember_me
                Remember me
        .col-lg-5.col-md-5.col-sm-5.col-xs-12
          - if devise_mapping.recoverable? && controller_name != 'passwords'
            = link_to "Forgot Password?", new_password_path(resource_name)
      .form-group
        .col-sm-offset-2.col-lg-10.col-md-10.col-sm-10.col-xs-12
          = f.submit "Log in", {:class => "form-blue-btn"}

    / = render "admins/shared/links"