.footer-wrap
  / footer
  .center
    .col-lg-4.col-md-4.col-sm-4.col-xs-12
      %h4 We guarantee 100% satisfaction
      %p
        If you don't absolutely love your print, we'll take it back.
        %a{:href => "/returns-exchanges"} Learn More
    .col-lg-8.col-md-8.col-sm-8.col-xs-12.footer-top
      .col-lg-3.col-md-3.col-sm-3.col-xs-6.nopadding
        %h4 Learn More
        %ul
          %li
            = link_to "Home", root_path
          %li
            = link_to "Products", root_path
          %li
            = link_to "About Us", "/about-us"
          %li
            = link_to "Process", "/process"
      .col-lg-3.col-md-3.col-sm-3.col-xs-6.nopadding
        %h4 Customer Service
        %ul
          %li
            = link_to "Sizing", "", {:data => {:target => "#pop-up-sizes", :toggle => "modal"}}
          %li
            = link_to "Shipping", "/shipping"
          %li
            = link_to "Returns & Exchanges", "/returns-exchanges"
          %li
            = link_to "FAQs", "/faq"
      .col-lg-3.col-md-3.col-sm-3.col-xs-6.nopadding
        %h4 Your Account
        %ul
          %li
            = link_to "Login", new_user_session_path
          %li
            = link_to "Track Your Order", "/dashboard/#/orders"
      .col-lg-3.col-md-3.col-sm-3.col-xs-6.nopadding
        %h4 Contact Us
        %ul
          %li.hotline-icon-bg 1300 76 65 67
          %li.chat-icon-bg
            = link_to "FanTees Support", "/contact-us"
          %li.email-icon-bg
            = link_to "Email Us", "mailto:support@fantees.com.au"
    .clearfix
    .spacer2
    .col-lg-12.col-md-12.footer-bottom
      .col-lg-4.col-md-4.col-sm-4.col-xs-12.nopadding
        %p © 2014 FanTees PTY LTD
      .col-lg-8.col-md-8.col-sm-8.col-xs-12.nopadding
        %ul
          %li
            = link_to "Privacy Policy", "/privacy-policy"
          %li
            = link_to "Terms of Service", "/terms-of-service"
        %span.credit-card
          = image_tag "secureimg.jpg", {:alt => "Credit Cards"}
      .clearfix