.nav-wrap.headerPadding
  / nav-wrap
  .center
    .col-lg-3.col-md-3.col-sm-3.col-xs-12.text-left.logo-holder.nopadding
      = link_to root_path do
        = image_tag "fantees-logo-white.png", {:alt => "logo", :class => "logo", :width => "162"}
    .col-lg-9.col-md-9.col-sm-9.col-xs-12.nopadding.menu-holder
      .info
        - opacity = @cart.total_items > 0 ? 'opacity: 1' : ''
        %a.cart-link.hidden-xs{:href => cart_index_path}
          .cart-holder
            .cart-btn
              %span.circle-cart Cart
              %span.cart-num#cart-num-main{style: "#{opacity}"}
                = @cart.total_items
        .chosen-item-box#cart-item-box
          .chosen-img
            %img{:height => "50", :src => "/assets/thumbnail-default.jpg", :width => "50"}
          .chosen-details
            %p
          .clearfix
        .question
          %strong
            Question? Speak to Us
            %span.hotline 1300 76 65 67
        .cart-holder.visible-xs
          .cart-btn
            %span.circle-cart Cart
            %span.cart-num{style: "#{opacity}"}
              = @cart.total_items
      .clearfix
    .clearfix
  .clearfix