.ie7-warning
  %h3 Site is incompatible on Internet Explorer 8 below. Please use latest version of Internet Explorer
  %p
    Please
    %a{:href => "http://windows.microsoft.com/en-us/internet-explorer/download-ie"} CLICK HERE
    for latest Internet Explorer Installer for Windows
    = succeed "Please" do
      %br
    %a{:href => "http://internet-explorer-for-mac.en.softonic.com/mac"} CLICK HERE
    for latest Internet Explorer Installer for Macintosh
  %p Or you may install other browser here:
  %ul
    %li
      %a{:href => "https://www.google.com/chrome/?"} Google Chrome for Windows
    %li
      %a{:href => "http://download.cnet.com/Google-Chrome/3000-2356_4-75205983.html"} Google Chrome for Mac
    %li
      %a{:href => "https://www.mozilla.org/en-US/firefox/new/"} Mozilla Firefox for Windows
    %li
      %a{:href => "http://download.cnet.com/Mozilla-Firefox/3000-2356_4-10208569.html"} Mozilla Firefox for Mac