.prefooter-wrap
  / prefooter
  .center
    .col-lg-4.col-md-4.col-sm-4.col-xs-12.prefooter-left
      %h3 Get To Know Fantees
      %p We are the only online store you need for all your fan based apparel. Sport, Jobs, Cars anything that you're a fan of we have the perfect design for you!
    .col-lg-4.col-md-4.col-sm-4.col-xs-12.prefooter-middle
      %h4.people-wearing People Wearing Fantees
      %h2.product-deliver-count= "#{number_with_delimiter(@shipped, :delimiter => ',')}"
      %h3 Connect with FanTees on
      .prefooter-social-links
        %ul
          %li
            = link_to "", "https://www.facebook.com/fanteesau", {:class => "small-fb-icon", :target => "_blank"}
          %li
            = link_to "", "https://twitter.com/fanteesau", {:class => "small-tw-icon", :target => "_blank"}
          %li
            = link_to "", "http://instagram.com/fanteesau", {:class => "small-ins-icon", :target => "_blank"}
          %li
            = link_to "", "http://www.pinterest.com/fantees/", {:class => "small-pin-icon", :target => "_blank"}
    .clearfix.visible-xs
    .col-lg-4.col-md-4.col-sm-4.col-xs-12.prefooter-right
      %h3 Discover New Designs
      %p We'll email weekly design &amp; fan updates you might be interested in.
      .search-bottom
        .sendgrid-subscription-widget{:'data-token' => "ixbwuZ5isMDowSMtuY6TB3g%2F%2FzUBVfEu0uk4ZhrCWEJ1eafgUzi3VULjzKN0YYZX"}
        = sendgrid_layout_script
        .clearfix
    .clearfix