/ .header-wrap
/   / header-wrap
/   .center
/     .col-lg-6.col-md-6.col-sm-6.col-xs-12.nopadding.header-left
/       .spacer
/       = image_tag "header-img-left.png", {:alt => "header-img"}
/       %p Brand New Shopping Cart Lets You Order Multiple Designs Together. Save On Shipping Today & Order 2 Or More!
/     .col-lg-6.col-md-6.col-sm-6.col-xs-12.nopadding.text-center
/       = image_tag "man-logo.png", {:alt => "man-logo"}
/     .clearfix

- if @customize_page
  .fathers-day-wrap
    .center
      .col-lg-5
        %h2
          %strong
            = "#{@header_title}"
          Shirts
        %h3
          = "#{@header_text}"
      .col-lg-7.text-center
        = image_tag "#{@custom_img}"
      .clearfix
  .header-wrap.top-with-search{:style =>"padding:20px 0 !important;"}
    .center
      .col-lg-12.col-md-12.text-center
        %form.form-search.cf
          %input{:placeholder => "Search here...", :required => "", :type => "text", name: "search", value: @keyword}
          %button{:type => "submit"} Search
      .clearfix

- else

  - if @page_url == "fathersday"
    .fathers-day-wrap
      .center
        = image_tag "fathers-day.jpg", {:alt => "fathers-day"}
    .header-wrap.top-with-search{:style =>"padding:20px 0 !important;"}
      .center
        .col-lg-12.col-md-12.text-center
          %form.form-search.cf
            %input{:placeholder => "Search here...", :required => "", :type => "text", name: "search", value: @keyword}
            %button{:type => "submit"} Search
        .clearfix

  - elsif @page_url == "pet-rescue"
    .fathers-day-wrap
      .center
        = image_tag "pet_rescue.jpg", {:alt => "pet-rescue"}
    .header-wrap.top-with-search{:style =>"padding:20px 0 !important;"}
      .center
        .col-lg-12.col-md-12.text-center
          %form.form-search.cf
            %input{:placeholder => "Search here...", :required => "", :type => "text", name: "search", value: @keyword}
            %button{:type => "submit"} Search
        .clearfix

  - else
    - if @keyword.nil? or @keyword == ""
      .header-wrap.top-with-search
        / header-wrap
        .center
          .col-lg-12.col-md-12.text-center
            %h2 Whatever your passion. We've got you covered
            %form.form-search.cf
              %input{:placeholder => "Search here...", :required => "", :type => "text", name: "search", value: @keyword}
              %button{:type => "submit"} Search
            %h3 Search from over 2,000 Tees, Hoodies, Mugs, Hats, Stickers & More
          .clearfix
    - else
      .header-wrap.top-with-search{:style =>"padding:20px 0 !important;"}
        / header-wrap
        .center
          .col-lg-12.col-md-12.text-center
            %form.form-search.cf
              %h4.search-again Search again?
              %input{:style => "width:52.6% !important;", :placeholder => "Search here...", :required => "", :type => "text", name: "search", value: @keyword}
              %button{:type => "submit"} Search
          .clearfix

      .banner-stats{:style => "background:#ededf0 !important;padding:4px 0 !important;"}
        .center
          .col-lg-12.col-md-12.text-center
            %h3.your-result
              = "Your Results For #{@keyword}"



    :javascript
      this.algolia_search.init("#{ENV['ALGOLIASEARCH_APPLICATION_ID']}", "#{ENV['ALGOLIASEARCH_API_KEY_SEARCH']}", "#{Product.index_name}")

    - if @keyword.nil? or @keyword == ""
      .banner-stats
        / banner-stats
        .center
          .col-lg-4.col-md-4.col-sm-4.col-xs-12.text-center
            .stats-content.stats-content01
              .col-lg-5.col-md-5.col-sm-5.col-xs-12.text-right.nopadding
                %span.stats-label Fantees on Fans
              .col-lg-7.col-md-7.col-sm-7.col-xs-12.text-center
                .fans-counter
                  %ul
                    - length = @shipped.to_s.mb_chars.length - 1
                    - (0..length).each do |a|
                      %li
                        = @shipped.to_s[a]

              .clearfix
          .col-lg-4.col-md-4.col-sm-4.col-xs-12.text-center.middle-stats
            .stats-content.stats-content02
              .col-lg-7.col-md-7.col-sm-7.col-xs-7.nopadding
                %span.stats-label 7 Days Happiness Rating
              .col-lg-5.col-md-5.col-sm-5.col-xs-5.nopadding
                #diagram-id-1.diagram{"data-percent" => "#{@rating.percent}%"}
              .clearfix
          .col-lg-4.col-md-4.col-sm-4.col-xs-12.text-center
            .stats-content
              = image_tag "love-it-image.png", {:alt => "love-it"}
          .clearfix