= render 'banner'
.content-shirts
  / content-shirts
  .center
    - @group1.each_with_index do |p, index|
      - start_num = p.start_number ? p.start_number : 0
      - sales     = start_num + p.total_sold
      - percent   = (sales / p.sales.to_f) * 100
      - percent   = percent > 100 ? 100 : percent.round
      .col-lg-3.col-md-3.col-sm-6.col-xs-6.text-center.shirt-container
        .shirt-img-holder
          .tcell
            - unless p.product_images.blank?
              = image_tag p.product_images.sample.product_image(:medium), {alt: p.title}
            - else
              = image_tag "no_image.png", {alt: p.title}
          = link_to "View Details", "/#{p.slug}", {:class => "img-view-details", :target => "_blank"}
        %p.shirt-label
          = link_to p.title, "/#{p.slug}", {:target => "_blank"}
        .col-lg-4.col-md-4.col-sm-4.col-xs-4.nopadding
          .progress
            .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "57", :role => "progressbar", :style => "width: #{percent}%;"}
              %span.sr-only= "#{percent}% Complete"
        .col-lg-4.col-md-4.col-sm-4.col-xs-4.nopadding
          %p.shirt-sold
            = "#{sales}/#{p.sales}"
            %span.tooltip-holder
              %strong= sales
              sold towards goal of
              %strong= p.sales
        .col-lg-4.col-md-4.col-sm-4.col-xs-4.nopadding
          .order-btn-icon
            %span.tooltip-holder Made to Order
          .ship-btn-icon
            %span.tooltip-holder Ships Today
        .clearfix

      -if index == 1 || index == 5
        .visible-xs.clearfix
      -if index == 3 || index == 7
        .clearfix

    .row.social-links-banner{:style => "width: 100%;"}
      .col-lg-6.col-md-6.col-sm-6.col-xs-12.nopadding
        %h2 Join The Fantees Family
      .col-lg-6.col-md-6.col-sm-6.col-xs-12.nopadding
        .col-lg-3.col-md-3.col-sm-3.col-xs-3.nopadding
          %a{:href => "https://www.facebook.com/fanteesau", :target => "_blank"}
            = image_tag "big-fb-icon.png", {:alt => "big-fb-icon"}
        .col-lg-3.col-md-3.col-sm-3.col-xs-3.nopadding
          %a{:href => "https://twitter.com/fanteesau", :target => "_blank"}
            = image_tag "big-tw-icon.png", {:alt => "big-tw-icon"}
        .col-lg-3.col-md-3.col-sm-3.col-xs-3.nopadding
          %a{:href => "http://instagram.com/fanteesau", :target => "_blank"}
            = image_tag "big-ins-icon.png", {:alt => "big-ins-icon"}
        .col-lg-3.col-md-3.col-sm-3.col-xs-3.nopadding
          %a{:href => "http://www.pinterest.com/fantees/", :target => "_blank"}
            = image_tag "big-pin-icon.png", {:alt => "big-pin-icon"}
        .clearfix

    - @group2.each_with_index do |p, index|
      - start_num = p.start_number ? p.start_number : 0
      - sales     = start_num + p.total_sold
      - percent   = (sales / p.sales.to_f) * 100
      - percent   = percent > 100 ? 100 : percent.round
      .col-lg-3.col-md-3.col-sm-6.col-xs-6.text-center.shirt-container
        .shirt-img-holder
          .tcell
            - unless p.product_images.blank?
              = image_tag p.product_images.sample.product_image(:medium), {alt: p.title}
            - else
              = image_tag "no_image.png", {alt: p.title}
          = link_to "View Details", "/#{p.slug}", {:class => "img-view-details", :target => "_blank"}
        %p.shirt-label
          = link_to p.title, "/#{p.slug}", {:target => "_blank"}
        .col-lg-4.col-md-4.col-sm-4.col-xs-4.nopadding
          .progress
            .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "57", :role => "progressbar", :style => "width: #{percent}%;"}
              %span.sr-only= "#{percent}% Complete"
        .col-lg-4.col-md-4.col-sm-4.col-xs-4.nopadding
          %p.shirt-sold
            = "#{sales}/#{p.sales}"
            %span.tooltip-holder
              %strong= sales
              sold towards goal of
              %strong= p.sales
        .col-lg-4.col-md-4.col-sm-4.col-xs-4.nopadding
          .order-btn-icon
            %span.tooltip-holder Made to Order
          .ship-btn-icon
            %span.tooltip-holder Ships Today
        .clearfix

      -if index == 1 || index == 5
        .visible-xs.clearfix
      -if index == 3 || index == 7
        .clearfix

    .clearfix
    .pagination-homepage
      = paginate @products