%div{ng: {controller: "PagesCtrl"}}
  / #content-wrapper{style: "min-height: {{height}}"}
  /   .container
  .main-content.success-page-content
    .center
      .row
        .col-md-6.visible-xs.text-center
          %h2 Woohoo!
          %p
            = "You just reserved a #{@product.title} top!"
          %p To help us reach our goal and ensure it goes to print use the buttons below to share it with your friends!

          .social-square
            %a{href: pinterest_share(@product), target: "_blank"}
              = image_tag "pinterest-icon.png", {alt: "Pinterest"}
            %a{href: twitter_share("#{root_url}#{@product.slug}"), target: "_blank"}
              = image_tag "twitter-square-icon.png", {alt: "Twitter"}
            %a{href: fb_share("#{root_url}#{@product.slug}"), target: "_blank"}
              = image_tag "fb-square-icon.png", {alt: "Facebook"}

        .col-md-6{:style => "min-height: 500px"}
          .order-summary
            .order-summary-header
              %h3 Order Summary
            .order-summary-body
              - titles = []
              - @order.ordered_products.each do |p|
                - titles << p.title unless titles.include?(p.title)

                .item-summary
                  %ul
                    %li
                      = image_tag p.category_image.product_image(:thumb), {:alt => "Shirt"}
                      .product-info{:style => "margin-top: 5px"}
                        %span.product-info-name
                          %strong= p.title
                        %span.product-info-description= "#{p.quantity}pc(s) #{p.size} - #{p.category.name}"
                      %span.shirt-value &nbsp;
                      .clearfix
                  %span.arrive-due-date &nbsp;

          - if @upsell.length > 0
            .up-sell
              %p &nbsp;
              %h3 Why Not Add One Of These To Your Order?
              - i = 1
              - ext_class = ""
              - @upsell.each do |p|
                - if i == 2
                  - ext_class = "lightbox-img-container-middle"
                - if i == 3
                  - ext_class = "hidden-mobile"

                .lightbox-img-container{class: "#{ext_class}"}
                  %span.lightbox-price
                    = "$#{p[:price]}"
                  %a.zoom-lightbox.zoom-lightbox01{:href => "#{root_path}#{p[:slug]}?utm_source=fantees&utm_medium=thankyou_page&utm_campaign=thankyou_recommendation"}
                  %img{src: "#{p[:image]}", alt: "#{p[:slug]}"}

                - i = i + 1



          - unless @order.giftcards.nil?
            - if @order.giftcards.count != 0
              %br
              .order-summary
                .order-summary-header
                  %h3 Gift Cards Code
                .order-summary-body
                  %table.table

                    %tbody
                      - @order.giftcards.each do |g|
                        %tr
                          %td= g.key_code
                          %td
                            $
                            = g.amount
          / .success-big-img
          /   = image_tag @image.product_image(:medium)

        .col-md-6.hidden-xs
          - if @order.ordered_products.collect(&:product_id).include?(2026)
            %p So we can make your 6 pack the perfect gift for you, fill out the form below with your favourite interests & sizes we can customise it to perfection.
            %iframe{:frameborder => "0", :height => "950", :marginheight => "0", :marginwidth => "0", :src => "https://docs.google.com/forms/d/1M8RnkXTjQ3bpTknXHhqLOwn4Sbb6BgOPqnsJUcU4PLc/viewform?embedded=true", :width => "500", :scrolling => "no"} Loading...
          - else
            %h2{style: "font-size: 32px"} Woohoo!
            - if @order.giftcards.count != 0
              %p Your Gift Card purchase was successful! To user the Gift Card simply enter Gift Card Code  on checkout for your next purchase.
              %p
                Your Gift Card Code is to the left and it has also been emailed yo you!
            - if @order.giftcards.count == 0
              %p
                = "You just reserved your #{titles.to_sentence} top!"
              %p To help us reach our goal and ensure it goes to print use the buttons below to share it with your friends!
            .social-square.text-center
              %a{href: pinterest_share(@product), target: "_blank"}
                = image_tag "pinterest-icon.png", {alt: "Pinterest", style: "height: 80px"}
              %a{href: twitter_share("#{root_url}#{@product.slug}"), target: "_blank"}
                = image_tag "twitter-square-icon.png", {alt: "Twitter", style: "height: 80px"}
              %a{href: fb_share("#{root_url}#{@product.slug}"), target: "_blank"}
                = image_tag "fb-square-icon.png", {alt: "Facebook", style: "height: 80px"}
          - if @order.giftcards.count == 0
            .col-md-6
              .thanks-info
                %span.dark Your order will be sent to
                %p
                  - shipping_info = ActiveSupport::JSON.decode(@order.shipping_info)
                  = "#{shipping_info['Name']}, #{shipping_info['Street1']}, #{shipping_info['CityName']}, #{shipping_info['StateOrProvince']}, #{shipping_info['CountryName']}, #{shipping_info['PostalCode']}"
                %p
                  %a.chamge{href: "/dashboard/#/orders/#{@order.order_id}"} Change your shipping Address
                %span.dark
                  %p We have emailed you a receipt for your order :)
                  %p
                    = "Australian orders are expected to arrive before #{@domestic.strftime("%b %d, %Y")} and International orders are expected to arrive before #{@international.strftime("%b %d, %Y")}"

                %p
                  %strong What Happens If A Campaign Doesn't Reach It's Goal?
                %p Unfortunately not all campaigns reach their goal, if that's the case then your order will be refunded back to you. To ensure that doesn't happen help us spread the word by sharing with your friends and family!


= ge_ecommerce_js(@order)

= rejoiner_conversion

= twitter_conversion

= google_conversion

:javascript
  _rejoiner.push(['setCartData', {'customer_order_number': gon.order_id}]);