%div{:'ng-controller' => "PagesCtrl"}
  .main-content.aboutus-content
    .center
      %h2 About Us
      %p We love the work we do and the jobs we have, we love them so much we made T-Shirts pro-claiming what we do. After doing it for ourselves we thought “wait, we aren’t the only ones who love what we do, so why not make t-shirts for other people who love what they do”.
      %p With that, FanTees.com.au was born and we now spend our spare time designing and selling t-shirts related to all the weird, wacky and fun jobs people do in the hopes you’ll love them just as much as we do!