%div{:'ng-controller' => "PagesCtrl"}
  .main-content.contactus-page
    .center
      %h2.text-center Contact Us
      %h3 Have a Questions our FAQ don’t answer? Send us a Message and We’ll get back to you ASAP!
      - flash.each do |name, msg|
        - if name == :error
          .alert.alert-danger.alert-dismissable
            %button.close{ :type => "button", :aria => { :hidden => "true" }, :data => { :dismiss => "alert" } } &times;
            %ul{ :style => "list-style:none;" }
              - msg.each do |m|
                %li
                  %h2{ :style => "margin-bottom:0px;" }
                    = m
        - else
          .alert.alert-success.alert-dismissable
            %button.close{ :type => "button", :aria => { :hidden => "true" }, :data => { :dismiss => "alert" } } &times;
            %h2{ :style => "margin-bottom:0px;" }
              = msg

      .col-lg-6.col-md-6.col-sm-6.col-xs-12.contactus-left
        = form_for @contact, :url => pages_send_contact_us_path, :remote => false, :html => {:class => "contactus-form"} do |f|
          = f.text_field :name, {class: "name", placeholder: "Name"}
          = f.text_field :email, {placeholder: "Email Address"}
          = f.text_field :subject, {placeholder: "Subject"}
          = f.text_area :message, {placeholder: "Message", rows: "5"}
          = f.submit "Submit"

      .col-lg-6.col-md-6.col-sm-6.col-xs-12.contactus-right
        .blue-box
          .col-lg-6.col-md-6.col-sm-6.col-xs-12
            %p TRACK YOUR ORDER
            %a.box-btn.blue-btn{:href => "/dashboard/#/orders"} Search
          .col-lg-6.col-md-6.col-sm-6.col-xs-12
            %p CHECK OUR FAQ
            %a.box-btn.green-btn{:href => "/faq"} Go to FAQ Page
          .clearfix
        .clearfix
        %h4 CALL OUR SUPPORT TEAM
        %ul
          %li
            %i.fa.fa-phone
            1300 76 65 67
          %li
            %i.fa.fa-support
            Support hours : Monday - Friday 9AM - 6PM (AEST)
        %h4 WANT TO SNAIL MAIL SOMETHING TO US?
        %ul
          %li
            %i.fa.fa-map-marker
            Brendale Business Hub
            %br/
            %i.fa.fa-map-marker
            PO Box 5583
            %br/
            %i.fa.fa-map-marker
            Brendale DC, QLD 4500
      .clearfix