%div{:'ng-controller' => "PagesCtrl"}
  #content-wrapper{style: "min-height: {{height}}"}
    .container
      - flash.each do |name, msg|
        - if name == :error
          .alert.alert-danger
            %ul
              - msg.each do |m|
                %li
                  = m
        - else
          .alert.alert-success
            = msg

      .row
        %h2 Contact us
        = form_for @contact, :url => pages_send_contact_us_path, :remote => false, :html => {class: "form-horizontal", style: "padding: 10px 30px"} do |f|
          .form-group
            .col-sm-4
              = f.text_field :name, {class: "form-control", placeholder: "Name"}
          .form-group
            .col-sm-4
              = f.text_field :email, {class: "form-control", placeholder: "Email"}
          .form-group
            .col-sm-4
              = f.text_field :subject, {class: "form-control", placeholder: "Subject"}
          .form-group
            .col-sm-4
              = f.text_area :message, {class: "form-control", placeholder: "Message", rows: "5"}
          .form-group
            .col-sm-4
              = f.submit "Submit", {class: "save", style: "margin: 0"}

  = render "products/pre_footer"

