%div{:'ng-controller' => "PagesCtrl"}
  .main-content.faqs-content
    .center
      %h2 FAQ
      %p What Is A Campaign?
      %p We're a bit different to other apparel stores, we only print our designs (campaigns) if we reach a minimum number of orders, once we reach that minimum we start printing and shipping your order!
      %p Can You Do Custom Designs &amp; Orders?
      %p We certainly can! For a custom design to work we need a minimum of 25 orders before we send the design to print.
      %p What about bulk orders?
      %p Yup, no problems, just reach out to us and we’ll be able to help you out with your order.
      %p How long does it take for my order to be delivered?
      %p Your order will arrive 10-14 business days from the end of the campaign. If your order hasn’t arrived inside the estimated delivery times, please contact our support team.
      %p How much does shipping cost?
      %p Domestic shipping prices are calculated on checkout, if you order 2 or more items at once shipping is free. If you are outside Australia and wish to purchase a shirt please contact our support team so we can discuss shipping options with you.
      %p Who designs the t-shirts?
      %p The designs are 100% original and are designed by us here at FanTees.com.au
      %p Where are the t-shirts printed?
      %p We screen print the designs on the t-shirts here locally in Brisbane, Australia ensuring you’ll be receiving the highest quality t-shirts possible.
      %p Is buying online safe?
      %p Ofcourse! Nothing to worry about, our site is protected by a 128-bit SSL (what this means is that all your details are 100% secure!).
      %p How can I contact you?
      %p
        Jump over to our
        %a{:href => "#"} Contact page here
        and you’ll be able to either email or call us