.main-content.process-content
	.center
		.header-infographics
			.container

		.title-infographics
			.container
				.row
					.col-md-12
						%h1
							FanTees made for you
							%span Process

		.content-infographics
			.container
				.row
					.col-md-12.separator

						.spacer2
						.col-md-5.text-center
							= image_tag "day1-img.png"
						.col-md-2
						.col-md-5
							%h2 Day 1
							%p So today we’re preparing everything for print so the printing process is as smooth as possible. We also put our blank tee and hoodie order in with suppliers.
						.clearfix

						.col-md-5
							.spacer2
							%h2 Day 2-5
							%p We finish setting everything up for printing while our supplier delivers our blanks.
						.col-md-2
						.col-md-5.text-center
							= image_tag "day2to7.png"
						.clearfix

						.col-md-5.text-center
							= image_tag "day8to14.png"
						.col-md-2
						.col-md-5
							.spacer2
								%h2 Day 6-7
								%p We start printing (using the Soft Hand method to ensure the print doesn’t fade or leave the chunky print that we all hate!)
						.clearfix

						.col-md-5
							.spacer2
							%h2 Day 8-10
							%p This is the fun bit, we fold and bag each of the orders ready to be shipped out to you!</p>
						.col-md-2
						.col-md-5.text-center
							= image_tag "day15to17.png"
						.clearfix

						.col-md-5.text-center
							= image_tag "day18.png"
						.col-md-2

						.col-md-5
							.spacer2
							%h2 Day 10-12
							%p I love this day, because it’s when we package everything together ready to be picked up by the postman to be express posted to you. Yup, after this your orders will be on their way via express post!!!</p>

						.clearfix
						.col-md-5
							.spacer2
							.spacer
							%h2 Day 12-14
							%p Depending on where you live, you’ll be receiving your order on your doorstep by one of the very lovely Australia Post postmen!</p>
						.col-md-2

						.col-md-5.text-center
							= image_tag "day19to21.png"
							.spacer2
						.clearfix
