.main-content.return-exchange-content
  .center
    %h2 Our Shipping and Returns Policy
    %p
      %strong All returns &amp; exchanges are handled by our customer service team, Please call or email if you wish to return or exchange any item(s)
    %p E: support@fantees.com.au
    %p P: 1300 76 65 67
    %p
      %strong Please note all items must be in resableable condition with tags still attached. Returns &amp; exchanges are valid for 30 days from purchase
    %p
      %strong REFUND AND RETURNS POLICY
    %p FanTees Pty Ltd A.C.N.169 579 444 (we, us, our or FT) makes every effort to be fully transparent at all times. Accordingly, we have developed a Refund and Returns Policy to ensure that you are fully aware of your rights and our obligations to you with respect to refunds and returns.
    %p
      %strongshipment{:of => "", :orders => ""}
    %p
      %strong We deliver products Australia Wide
    %p We will attempt to dispatch all product orders within 48 hours of us receiving the products into our warehouse for Made To Order campaigns or within 48 hours of us receiving cleared funds for payment of the products for In Stock items. Ordered products will be delivered to the address nominated by you in your online order. In the event that we do not have your product in stock at the time of your order, we will let you know immediately as to when you can expect to receive it.
    %p It is your obligation to provide the correct delivery address and delivery instructions at the time of your order. If you provide an incorrect address, FT is not obliged to re-send the order to the correct address at our expense.
    %p We are prepared to deliver to your permanent residential address, your place of employment, or postal box. For products to be delivered to your workplace, you will be required to ensure that someone will be there to take receipt of the delivery.
    %p Your entitlement to a refund or exchange
    %p
      %strong You will be entitled to a refund or exchange where:
    %ul
      %li the product is faulty or damaged (Faulty/Damaged Returns);
      %li the product does not match the sample or description advertised on our website; or
      %li we are required to do so under any relevant laws.
    %p In the event that you believe that any of the above apply to you and consequently, you believe that you are entitled to a refund or exchange, you must provide us with:
    %ul
      %li your full name and address;
      %li the original order number; and
      %li the reason for claiming the refund or exchange.
    %p You will not be entitled to a refund or exchange on a personalised or customised order where you have simply changed your mind.
    %p
      %strong Returning products to us
    %p If you wish to return products to us, you must notify us within seven (7) days of receiving the products. Claims for refunds or exchanges made outside this time period will be at the sole discretion of FT.
    %p Once your request to return a product has been processed and accepted, you will be provided with email confirmation authorising the return. You must include a copy of this confirmation email when you return the products to us.
    %p
      %strong Condition of returned products
    %p In order for us to provide you with a refund or exchange, the returned product must be in brand new and re-saleable condition with all original tags on the product and in the original packaging.
    %p We reserve the right to assess the condition of the returned product prior to offering a refund or exchange. This may result in a refund or exchange being refused by us.
    %p
      %strong Return delivery charges
    %p If you are entitled to a refund, you will be entitled to a refund equal to the cost of the product only, excluding delivery and return charges.
    %p We will not be responsible for lost, stolen or damaged return deliveries. We recommend that you return the product to us via Registered Post so that you have proof of dispatch. We are not responsible for the delivery costs to return your replacement product on exchanges.
    %p
      %strong Provision of refunds or exchanges to you
    %p After assessing the condition of the returned products and if your refund is approved, we will send you an email confirming that your refund has been issued. Refunds will be processed within seven (7) days of receipt of returned goods.
    %p All refunds will be issued via the same payment method used to purchase the products. There may be delays in the provision of the refund that may be caused by the issuing bank. Please contact us if you have not received your refund within ten (10) days of us notifying you that a refund has been issued.
    %p
      %strong Please send returns to:
    %p
      %strong
        FanTees Returns
        %br
          PO Box 5583
          %br BRENDALE DC QLD 4500
    %p
      %strong Inquiries
    %p
      If you have any questions regarding our Returns Policy, please email us at
      %a{:href => "mailto:support@fantees.com.au"} support@fantees.com.au