.main-content.shipping-content
  .center
    %h2 Our Shipping Policy
    %p
      %strong Shipping
    %p The way we run our site is a little different, we run a time based campaign with a minimum order to reach our goal.
    %p Once we reach our goal and the campaign closes we send off our designs to our printers based on the Gold Coast for printing. This process takes around 10 days as we use premium quality materials and printing techniques (you will get it when it arrives!).
    %p Once it is back in our warehouse, it leaves here the same day.
    %p All our parcels are shipped with Australia Post using their Express Post service so is generally next business day to most parts of Australia.
    %p We are always pushing our team to bring this time frame forward as far as possible but allow 10-14 days from the end of the campaign for your order to arrive.
    %p You will also be updated as we reach our goal, as the order goes to print and as we ship your order via email.
    %p If you have any questions on this please get in touch with us (we love a chat!) via email, live chat, phone or even over on facebook!