%div{:'ng-controller' => "PagesCtrl"}
  #content-wrapper{style: "min-height: {{height}}"}
    .container
      %a.e-widget.generic-loader{ :href => "https://gleam.io/GEnz5/win-a-years-supply-of-tees", :rel => "nofollow" } Win A Year&#39;s Supply Of Tees!
      %script{ :src => "https://js.gleam.io/e.js", :async => "true" }