.main-content.reset-password-page
  .center
    %h2.text-center Change your password
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "form-horizontal" }) do |f|
      = devise_error_messages!
      = f.hidden_field :reset_password_token

      .form-group
        = f.label :password, "New Password", {:class => "col-lg-3 col-md-3 col-sm-3 col-xs-12 nopadding control-label"}
        .col-lg-9.col-md-9.col-sm-9.col-xs-12
          = f.password_field :password, :autofocus => true, :placeholder => "New Password", :style => "width: 100%", :class => "form-control"
      .form-group
        = f.label :password_confirmation, "Confirm Password", {:class => "col-lg-3 col-md-3 col-sm-3 col-xs-12 nopadding control-label"}
        .col-lg-9.col-md-9.col-sm-9.col-xs-12
          = f.password_field :password_confirmation, :placeholder => "Confirm new password", :style => "width: 100%", :class => "form-control"
      .form-group
        .col-sm-offset-3.col-lg-9.col-md-9.col-sm-9.col-xs-12
          = f.submit "Change my password", :class => "form-blue-btn"