.main-content.forgot-password-page
  .center
    %h2.text-center Forgot your password?
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "form-horizontal" }) do |f|
      = devise_error_messages!
      = f.email_field :email, :autofocus => true, :placeholder => "Email", :style => "width: 100%", :class => "form-control"
      = f.submit "Reset Password", {:class => "form-blue-btn"}
