/*for ie7 only*/
.ie7-warning {
	display: none;
	z-index:9999;
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	max-width: 1000px;
	margin: 30px auto;	
	padding: 20px;
}
.ie7-warning h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	margin-bottom: 20px;
}

.center{
	max-width:1120px;
	width:100%;
	margin:0 auto;	
}

/*----->>> global-style <<<-----*/
a:focus, input[type="text"] { outline: none; }
p {	margin-bottom:20px;}
img, iframe{ max-width:100%; }
.spacer{ height:20px; }
.spacer2{ height:40px; }
.nopadding { padding: 0; }

/*select style*/
.big-custom-select {
	margin-top: 15px;
	font-family: 'Open Sans', sans-serif;
}
.big-custom-select .select2-container,
.small-custom-select .select2-container {
	width: 100%;
}
.big-custom-select .select2-container .select2-choice {
	height: 40px;
	padding: 5px 0 5px 8px;	
}
.big-custom-select .select2-arrow b {
	background-position: center center;	
}
.select2-results li {
	padding: 5px 0;
	font-family: 'Open Sans', sans-serif;	
}
.select2-dropdown-open .select2-choice {
	background-color: #f3f3f3;
	background-image: none;
	border-bottom: 1px solid #CCC;	
}
.select2-results {
	padding: 0;
	margin: 0;	
}
/*small-select*/
.small-custom-select .select2-container .select2-choice {
	height: 35px;
	padding: 3px 0 3px 8px;
}
.small-custom-select .select2-container .select2-choice .select2-arrow {
	width: 32px;	
}
.small-custom-select .select2-arrow b {
	padding:17px 16px;	
	background-position: center center;
}
/*----->>> navigation <<<-----*/
/*for sub menu*/
.nav-wrap ul ul,
.nav-wrap ul ul ul {
	display:none;
	width: 100%;
	max-width: 200px;
}
.nav-wrap ul ul li {
	float: none;
	border-bottom: 1px solid #003728 !important;
}
.nav-wrap ul li:hover ul {
  display: block;
  position:absolute;
  background: none repeat scroll 0 0 #a07b3f;
  z-index:999;
}
.nav-wrap ul li:hover ul ul{
	display: none;
}
.nav-wrap ul ul li:hover ul{
	display: block !important;
	left:200px;
	top: 0;
	
}
.nav-wrap ul ul li a {
	border: 0 !important;
	display:block;

	padding: 8px 10px !important;
}
.nav-wrap ul ul li a:hover {
	border: 0 !important;	
	color: #003728;
	background: none !important;
}
.has-sub {
	background: url(../img/menu-bottom-arrow.png) right center no-repeat !important;	
	padding-right: 10px;
}
.icon-bar{
	background: none repeat scroll 0 0 #FFFFFF;
    color: #FFFFFF;
    height: 2px;
}
.navbar-toggle {
    background: none repeat scroll 0 0 #6f6f6f;
}
.navbar-brand{
	color:#fff;	
}
.navbar-header {
    background: none repeat scroll 0 0 #333333;
    margin-top: 20px;
}

/*----->>> topbar <<<-----*/
.cart-link {
	color: #1bbc9b;
	cursor: pointer;
	z-index: 21;
}
.cart-link:hover,
.cart-link:active,
.cart-link:focus {
	opacity: 1;
	color: #1bbc9b;
}
.info {
	background: #2d4154;
	padding: 8px 100px 8px 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	float:right;
	position: relative !important;
}
.cart-holder {
    display: inline-block;
    float: right;
    position: absolute;
    right: 0;
	z-index: 20;
}
.info .question {
	float: right;
	color: #fff;
	font-size:14px;
	line-height:22px;
	margin-right: 20px;
}
.info .hotline {
	color: #5fccff;	
}
.info .cart-btn {
	background: url("../img/cart-icon.png") no-repeat scroll 5px center rgba(0, 0, 0, 0);
    color: #14ddb3;
    float: right;
    padding-left: 33px;
	margin-right:25px;
}
.info .cart-num {
	color: #34495e;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	display: inline-block;
	height: 19px;
	margin-left: 5px;
	width: 19px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	-ms-border-radius: 9px;
 	-o-border-radius: 9px;
	border-radius: 9px;
	background: #14ddb3;
	text-align: center;
    opacity:0;
	float:left;
}
.sticky {
    border-top: 0 none;
    position: fixed !important;
    top: 0;
    z-index: 9999 !important;
}
.cart-btn.sticky {
	background-color: #2d4154;
	border-radius: 0 0 4px 4px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	margin: 0 0 0 5px;
	-webkit-animation: 0.3s ease 0s normal none 1 mini-cart-in;
	-moz-animation: 0.3s ease 0s normal none 1 mini-cart-in;
	-o-animation: 0.3s ease 0s normal none 1 mini-cart-in;
	animation: 0.3s ease 0s normal none 1 mini-cart-in;
}
@-webkit-keyframes mini-cart-in{
	0%{top:-100%}
	100%{top:0}
}
@-moz-keyframes mini-cart-in{
	0%{top:-100%}
	100%{top:0}
}
@keyframes mini-cart-in{
	0%{top:-100%}
	100%{top:0}
}
.chosen-item-box {
	display: none;
	position: fixed;
	padding: 10px;
	border-radius: 5px;
	background: #f9f9f9;
	top: 50px;
	margin-left: 100px;
	box-shadow: 0 0 6px #aaa;
 	z-index: 20;
	width: 250px;
}
.chosen-img {
	float: left;
	width: 20%;
}
.chosen-details {
	float: right;
	padding-left: 10px;
    width: 80%;
}
/*----->>> nav-wrap <<<-----*/
.nav-wrap {
	background: #2d4154;
	padding: 5px 0;
}
.nav-wrap ul {
	display: inline-block;
    float: left;
    margin: 4px 0 0;
    padding: 0;
}
.nav-wrap ul li {
	display: inline;	
}
.nav-wrap ul li:first-child {
	margin-left: 0;
}
.nav-wrap ul li:last-child {
	margin-right: 0;
}
.nav-wrap ul li a {
	color: #ebedee;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;	
	font-weight: bold;
	margin: 0 20px;
	text-decoration: none;
}
.menu-right {
    display: inline-block;
    float: right;
}
.search-here {
	display: inline-block;
    width: 260px;
	height: 40px;
}
.search-here form {
	text-indent: 25px;
	border: 0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
 	-o-border-radius: 3px;
	border-radius: 3px;
	padding: 6px 3px;
	width: 100%;
	max-width: 260px;
	background: #fff;
}
.search-here input[type="text"] {
	border: 0 none;
    box-shadow: none;
    color: #000;
    float: left;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    font-weight: 600;
    height: 25px;
	width: 89%;
}
.search-here input[type="submit"] {
	background: url("../img/search-icon.png") no-repeat scroll center center #fff;
    border: 0 none;
    display: block;
    float: left;
    height: 25px;
    padding: 0;
    width: 10%;
}
.search-here input[type="text"] {
	-webkit-outline: none !important;
	outline: none !important;
}
/*----->>> navigation <<<-----*/
.header-wrap {
	background: #00a5e2;
	padding-top: 40px;
}
.header-left {
	text-align: center;	
}
.header-left h1,
.header-left h2 {
	color: #fff;
}
.header-left h1 {
	font-size: 55px;	
}
.header-left h2 {
	font-size: 45px;	
}
.header-left h2:nth-child(3) {
	 font-size: 57px;
}
.header-left p {
	font-size: 18px;
	color: #2c3e50;	
	font-family: 'Open Sans', sans-serif;
	margin: 30px 0;
}

/*----->>> banner-stats <<<-----*/
.banner-stats {
	background: #ededf0;
	padding: 4px 0;	
}
.middle-stats {
	border-left: 1px solid #7f8c8d;
	border-right: 1px solid #7f8c8d;
	box-shadow: 1px 0 0 #fff inset, 1px 0 0 #fff;
}
.stats-content {
	vertical-align: middle; 
	float:none;		
}
.stats-content01 {
	padding-top: 10px;	
}
.stats-content02 .stats-label {
	padding-top: 20px;
}
.stats-label {
	font-size: 16px;	
	color: #2c3e50;
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
}
.banner-stats  .col-md-4 {
	padding: 5px 0;	
}

/*----->>> navigation <<<-----*/
.content-shirts {
	padding: 30px 0;	
	background: #fff;
}
.shirt-container {
	margin-bottom: 25px;
}
.shirt-img-holder {
	border: 1px solid #95a5a6;
	text-align: center;
	position: relative;
	height: 330px;
	overflow: hidden;
	-webkit-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}
.img-view-details {
	background-image: url('../img/view-details-bg.png');
	background-repeat: no-repeat;
	background-position: center center;
    bottom: 0;
    color: #fff;
    display: none;
    font-size: 13px;
    font-weight: 600;
    height: 100%;
    left: 0;
    margin: auto;
    padding-top: 100px;
    position: absolute;
    right: 0;
    text-decoration: none;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 5;
}
.shirt-img-holder:hover .img-view-details{
	display: block;
	text-decoration: none;
	color: #fff;
}
.shirt-container:hover .shirt-img-holder {
	border-color: #2c3e50;	
}
.shirt-img-holder img {
	margin: 0 auto;
}
.shirt-container .progress {
    margin: 7px 0 0;
}
.ship-btn-icon {
	background-image: url("../img/ships-icon.png");
	background-repeat: no-repeat;
    display: block;
    float: left;
    height: 17px;
    width: 31px;
	position: relative;
	margin: 5px 0 0 10px;
}
.shirt-sold {
	position: relative;
}
.order-btn-icon {
	background-image: url("../img/bag-icon.png");
	background-repeat: no-repeat;
    display: block;
    float: left;
    height: 21px;
    width: 17px;
	position: relative;
}
.shirt-container .progress {
    background-color: #bdc3c7;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-ms-border-radius: 0;
 	-o-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
    height: 6px;
    margin-bottom: 5px;
}
.shirt-container .progress-bar {
    background-color: #14ddb3;
    box-shadow: none;
}
.shirt-container p {
	color: #7f8c8d;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
	-webkit-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}
.shirt-container:hover p {
	color: #2c3e50;	
}
.shirt-label {
	margin: 20px 0;	
}
.shirt-label > a {
    color: inherit;
    text-decoration: none;
}
.social-links-banner {
	background-image: url(../img/social-links-banner-bg.png);
	background-position: center top;
	background-repeat: no-repeat;
	background-color: #000;
	padding: 8px 0;
	text-align: center;
	margin-bottom: 30px;
	overflow: hidden;
	min-height: 100px;

}
.social-links-banner h2 {
	font-size: 45px;
	color: #fff;	
	font-family: 'Pacifico', cursive;
	margin: 10px 30px;
}
/*----->>> pagination-homepage <<<-----*/
.pagination-homepage {
	text-align: center;	
}
.pagination-homepage .pagination {
	width: 100%;
	max-width: 410px;
	margin: 20px auto;
}
.pagination-homepage ul li a {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	color: #fff;
	background: #d6dcde;
	font-size: 14px;	
	border: 0;
	border-right: 3px solid #ebeeef;
	width: 35px;
	height: 33px;
}
.pagination-homepage ul li:first-child a,
.pagination-homepage ul li:last-child a {
	font-size: 35px;
    line-height: 16px;	
}
.pagination-homepage ul li:last-child a {
	border-right: 0;	
}
.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > a:active {
	background: #00bc9d;	
}
/*----->>> ourfans-banner <<<-----*/
.ourfans-banner {
	border-top: 1px solid #d6dcde;	
}
.ourfans-banner h2 {
	color: #304055;
	font-size: 30px;
	text-transform: uppercase;
	text-align:	center;
	margin: 40px 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}
.fan-message {
	background: none repeat scroll 0 0 rgba(0, 165, 226, 0.85);
	color: #fff;
	padding: 70px 40px;
	visibility: hidden;
	position: relative;
	opacity: 0;
	-webkit-transition: all 0.3s linear 0s;
	-o-transition: all 0.3s linear 0s;
	-moz-transition: all 0.3s linear 0s;
	transition: all 0.3s linear 0s;
}
.fan-message:before,
.fan-message:after {
	position: absolute;
	width: 52px;
	height: 50px;	
	content:"";
	display: block;	
	background-size: 100%;
}
.fan-message:before {
	background: url(../img/big-left-quote.png) center top no-repeat;
	left: 10px;
	top: 10px;
}
.fan-message:after {
	background: url(../img/big-right-quote.png) center top no-repeat;	
	bottom: 10px;
	right: 10px;
}
.fan01-photo {
	background: url(../img/fan01-photo.jpg) center top no-repeat;	
	background-size: cover;
}

.fan02-photo {
	background: url(../img/fan02-photo.jpg) center top no-repeat;	
	background-size: cover;
}
.fan03-photo {
	background: url(../img/fan03-photo.jpg) center top no-repeat;	
	background-size: cover;
}
.fan04-photo {
	background: url(../img/fan04-photo.jpg) center top no-repeat;	
	background-size: cover;
}

.fan01-photo:hover {
	background: url(../img/fan01-photo-hover.jpg) center top no-repeat;	
	background-size: cover;
}
.fan02-photo:hover {
	background: url(../img/fan02-photo-hover.jpg) center top no-repeat;	
	background-size: cover;
}
.fan03-photo:hover {
	background: url(../img/fan03-photo-hover.jpg) center top no-repeat;	
	background-size: cover;
}
.fan04-photo:hover {
	background: url(../img/fan04-photo-hover.jpg) center top no-repeat;	
	background-size: cover;
}
.fan01-photo:hover .fan-message {
	visibility: visible !important;
	opacity: 1 !important;
	z-index: 2 !important;
}
.fan02-photo:hover .fan-message {
	visibility: visible !important;
	opacity: 1 !important;
	z-index: 2 !important;
}
.fan03-photo:hover .fan-message {
	visibility: visible !important;
	opacity: 1 !important;
	z-index: 2 !important;
}
.fan04-photo:hover .fan-message {
	visibility: visible !important;
	opacity: 1 !important;
	z-index: 2 !important;
}
.fan-message .fan-say {
	font-size: 30px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
}
.fan-message .fan-name  {
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
}
.previous-fans {
	position: absolute;
	right: 0;
	z-index: 3;
	top: 20%;	
}
.next-fans {
	position: absolute;
	left: 0;
	top: 20%;	
	z-index: 3;
}
.ourfans-banner .center {
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 40%;
}
.ourfans-banner .carousel02,
.ourfans-banner .slide {
	position: relative;	
}

/*----->>> pre-footer-wrap <<<-----*/
.prefooter-wrap {
	background: #304055;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	padding: 30px 0;
}
.prefooter-wrap h3 {
	font-weight: bold;
	font-size: 18px;
	margin: 0 0 15px 0;	
}
.people-wearing {
	color: #b8b8b8;
 	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0 0 0;
    text-transform: uppercase;	
}
.product-deliver-count {
    color: #57f2d2;
   	font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 0 15px;
}
.prefooter-social-links ul {
	padding: 0;
	margin: 0;
}
.prefooter-social-links ul li {
	float: left;
	list-style: none;
	margin-right: 6px;
}
.prefooter-social-links ul li a {
	display: block;
	height: 41px;
	width: 44px;
}
.prefooter-social-links ul li .small-fb-icon {
	background: url(../img/small-fb-icon.png) center top no-repeat;	
}
.prefooter-social-links ul li .small-tw-icon {
	background: url(../img/small-tw-icon.png) center top no-repeat;	
}
.prefooter-social-links ul li .small-ins-icon {
	background: url(../img/small-ins-icon.png) center top no-repeat;	
}
.prefooter-social-links ul li .small-pin-icon {
	background: url(../img/small-pin-icon.png) center top no-repeat;	
}
.search-bottom {
	background: none repeat scroll 0 0 #1bbc9b;
	max-width: 330px;
	width: 100%;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
 	-o-border-radius: 3px;
    border-radius: 3px;
	border: 2px solid #1abc9c;
}
.search-bottom label span{
	display:none !important;
}
.search-bottom .response,
.search-bottom label {
	margin: 0 !important;
}
.search-bottom input[type="email"] {
	border: 0;
    float: left;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    height: 43px;
    padding-left: 5px;
	width: 80%;
	margin: 0;
}
.search-bottom input[type="submit"] {
	background: url("../img/gobg.png") no-repeat scroll center center #1bbc9b;
    border: 0 none;
    color: #fff;
    float: left;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 43px;
    margin: 0;
    text-indent: -9999px;
    text-transform: uppercase;
    width: 18%;
	
}
	
/*----->>> footer-wrap <<<-----*/
.footer-wrap {
	background: #f7f7f7;
	padding-top: 45px;	
	font-family: "Open Sans",sans-serif;
}
.footer-wrap h4 {
	font-family: "Open Sans",sans-serif;
	text-transform: uppercase;
	color: #304055;	
	margin-top: 0;
	font-size: 14px;
	font-weight: bold;
}
.footer-wrap a {
	color: #2ba3e6;
	text-decoration: none;	
}
.footer-wrap ul {
	margin: 0 0 20px;
	padding: 0;
	list-style: none;	
}
.footer-wrap ul li {
	font-size: 13px;	
	margin-bottom: 5px;
}
.hotline-icon-bg {
	background: url(../img/hotline-icon.jpg) left center no-repeat;
	padding-left: 20px;		
}
.chat-icon-bg {
	background: url(../img/chat-icon.jpg) left center no-repeat;
	padding-left: 20px;		
}
.email-icon-bg {
	background: url(../img/email-icon.jpg) left center no-repeat;
	padding-left: 20px;	
	display: inline-block;	
}
.footer-wrap .footer-bottom ul {
	margin: 0;	
}
.footer-wrap .footer-bottom ul li {
	float: left;
	margin-right: 10px;
}
.credit-card {
	float: right;
	display: inline-block;
}


/*****************************************LANDING PAGE STYLE**********************************************************************/

.landing-page-content {
	padding-top: 20px;	
	font-family: 'Open Sans', sans-serif;
}

.big-img {
    /*border: 1px solid #afafaf;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
 	-o-border-radius: 3px;
	box-shadow: 0 0 1px #f6f6f6;*/
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 0 40px;
	
}
.product-price {
	display: none;
  	background: none repeat scroll 0 0 #2ecc71;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    padding: 10px 7px;
    position: absolute;
    right: 12px;
    top: 30px;
}
.big-img img{
	max-width:407px;
	max-height:434px;
	width: 100%;
	height: 100%;
}
.thumbnail-images {
	border-bottom: 1px solid #bcbcbc;
	padding-bottom: 20px;
	margin-bottom: 25px;
	box-shadow: 0 -1px 0 #e4e4e4 inset;
	width: 100%;
}
.thumbnail-holder > img {
    height: 60px;
    width: 46px;
}
.thumbnail-images .thumbnail-holder {
	background: none repeat scroll 0 0 #edeef0;
    cursor: pointer;
    padding: 10px;
	float: left;
	width: 68px;
	height:83px;
	margin: 0 20px 10px 0;
	border: 1px solid transparent;
	text-align: center;
}
.thumbnail-images .thumbnail-holder:hover,
.thumbnail-images .thumbnail-holder:active,
.thumbnail-images .thumbnail-holder:focus {
	border:1px solid #4e6dba !important;
	box-shadow: 0 0 1px #d8dde8;	
}
.landing-page-content p {
	font-family: 'Open Sans', sans-serif;
	line-height: 22px;
}
.landing-right h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	margin: 0 0 30px 0;		
}
.size-chart-btn {
	float: left;
	margin-bottom: 10px;
	padding:7px 10px;
}
.size-chart-btnv2 {
	float: right;
	margin-bottom: 10px;
	padding:5px 10px;
}
.btn-group, .btn-group-vertical {
	float: left;
}
.qty-size .qty-holder {
	float: left;
	display: block;
	width: 77px;
	margin-right: 15px;
}
.qty-size .size-holder {
	float: left;
}
.qty-size h5 {
	margin: 15px 0;	
}
.choose-style {
	float: left;
}
.qty-size .btn-group > .btn, .btn-group-vertical > .btn {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-ms-border-radius: 4px;
 	-o-border-radius: 4px;
	border-radius: 4px !important;
	border: 1px solid #cacfd2 !important;
	margin-right: 8px;	
	text-align: center;
	width: 35px !important;
	height: 35px;
	color: #5d6874 !important;
	font-family: 'Open Sans', sans-serif;
	padding: 6px;
	font-weight: 600 !important;
	float: none !important;
}
.qty-size .btn-group > .btn:hover,
.qty-size .btn-group > .btn:active,
.qty-size .btn-group > .btn:focus {
	background: #29bb9c !important;
	color: #fff !important;
	z-index: 1;
	opacity: 1 !important;;
}
.buy-it-now-btn {
	background: none repeat scroll 0 0 #2ecc71;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
 	-o-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 -2px 0 #27ae60 inset;
    color: #fff;
    display: block;
    font-family: "Open Sans",sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    padding: 20px 0;
    text-align: center;
    text-decoration: none !important;
    width: 100%;	
}
.buy-it-now-btn:hover,
.buy-it-now-btn:active,
.buy-it-now-btn:focus {
	text-decoration: none !important;
	box-shadow: 0 -5px 0 #27ae60 inset;
	color: #fff !important;
}
.sold-big {
	font-weight: bold;	
	font-family: "Open Sans",sans-serif;
	color: #06263c;
	margin: 20px 0;
}
.progress-big {
	box-shadow: 0 1px 7px rgba(0, 0, 0, 0.1) inset !important;	
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-ms-border-radius: 15px;
 	-o-border-radius: 15px;
	border-radius: 15px;
}
.progress-big .progress-bar {
	background: #1abc9c;	
}
.left-to-buy-timer {
	padding: 15px 0;
	border-top: 1px solid #bcbcbc;
    box-shadow: 0 1px 0 #e4e4e4 inset;	
}

.thumbnail-holder:hover, .current {
    background: none repeat scroll 0 0 #e4ebf8 !important;
    border: 1px solid #3c5eb3 !important;
    display: inline-block;
    padding: 10px;
}

/******TOOLTIP STYLE******/
.tooltip-holder {
	background: none repeat scroll 0 0 #2c3e50;
    bottom: -30px;
    color: #fff;
    font-size: 11px;
    font-weight: normal;
    padding: 2px 0;
    position: absolute;
    text-align: center;
    z-index: 10;
	display: none;
	opacity: 0;
}
.tooltip-holder:before {
    border-bottom: 6px solid #2c3e50;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: "";
    display: block;
    left: 44%;
    position: absolute;
    top: -5px;
    z-index: 20;
}
.order-btn-icon .tooltip-holder {
    left: -36px;
    width: 84px;
}
.shirt-sold .tooltip-holder {
	width: 150px;
	left: -30px;
}
.ship-btn-icon .tooltip-holder {
	left: -20px;
    width: 72px;
}


.ship-btn-icon:hover .tooltip-holder {
	display: block;
	opacity:1;
}
.order-btn-icon:hover .tooltip-holder {
	display: block;
	opacity: 1;
}
.shirt-sold:hover .tooltip-holder {
	display: block;
	opacity: 1;
}


/*fans-counter*/
.fans-counter {
	background: #14ddb3;
	display: inline-block;	
	border: 1px solid #545555;
	border-radius: 3px;
}
.fans-counter ul {
	margin: 0;
	padding: 0;
	background-image: url("../img/counter-strike-bg.png");
	background-repeat: no-repeat;
	background-position: 7px center;
}
.fans-counter li {
	border-right: 3px solid #2c3e50;
    color: #4d4c4c;
    display: inline-block;
    font-family: "Open Sans",sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    padding: 7px;	
	position: relative;
	text-shadow: 1px 1px 0 #c8ede6;
}
.fans-counter li:first-child:before {
	background: url("../img/counter-arrow.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 12px;
    left: -1px;
    position: absolute;
    top: 14px;
    width: 7px;
    z-index: 2;
}
.fans-counter ul li:last-child {
	border-right: 0;	
}


/******MODAL STYLE********/

.pop-up-chart {
	width: 100% !important;
	max-width: 1000px;	
}
.modal-content {
	font-family: "Open Sans",sans-serif;
}
.modal-content h2,
.modal-content h3 {
	font-family: "Open Sans",sans-serif;
	margin-top: 0;
	font-weight: 600;
}
.modal-header {
    background: none repeat scroll 0 0 #2e4054;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
    font-size: 24px;
    padding: 20px 15px;
}
button.close {
	color: #fff;
}
#size-style-modal {
	font-family: "Open Sans",sans-serif;
}
#size-style-modal .modal-title {
    font-size: 24px;	
	font-family: "Open Sans",sans-serif;
	font-weight: bold;
	font-style: italic;	
}
#size-style-modal .modal-body {
	padding-top: 0;
	padding-bottom: 0;
}
.detail-title {
    border-bottom: 1px solid #dfdfdf;
    color: #2d4154;
    font-weight: bold;
    margin: 0 !important;
    padding: 10px 5px;
}
.detail-title span {
    margin-right: 42px;
}
.size-title {
    margin-right: 86px !important;
}
.price-title {
    margin-left: 130px;
}
.shirt-size-container {
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 20px;
    position: relative;
}
.popup-size h4 {
    color: #2d4154;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
}

.up-sell {
    padding: 10px 0 30px;
}
.up-sell h3 {
    color: #2d4154;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 0;
    text-align: center;
}
.lightbox-img-container {
    display: inline-block;
    position: relative;
}
.lightbox-img-container .lightbox-price {
    background: none repeat scroll 0 0 #3498db;
    color: #fff;
    font-family: "Open Sans",sans-serif !important;
    font-size: 16px;
    font-weight: bold;
    padding: 4px;
    position: absolute;
    right: 1px;
    top: 17px;
}
.zoom-lightbox {
    background: url("../img/add-btn.png") no-repeat scroll center center rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
.zoom-lightbox {
    display: none !important;
}
.lightbox-img-container:hover .zoom-lightbox {
    display: block !important;
}
.checkout-buttons {
    margin-top: 15px;
}
.btn-sm-custom-pop {
    background: none repeat scroll 0 0 #2ecc71;
    border-radius: 5px;
    box-shadow: 0 -2px 0 #27ae60 inset;
    color: #fff;
    display: inline-block;
    font-family: "Open Sans",sans-serif !important;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 12px 0;
    text-align: center;
    width: 80%;
}
.btn-sm-custom-pop02 {
    background: none repeat scroll 0 0 #296192;
    border-radius: 5px;
    box-shadow: 0 -2px 0 #1d4868 inset;
    color: #fff;
    display: inline-block;
    font-family: "Open Sans",sans-serif !important;
    font-size: 17px;
    margin-bottom: 20px;
    padding: 12px 0;
    text-align: center;
    width: 80%;
	font-weight: bold;
}
.btn-sm-custom-pop03 {
    background: none repeat scroll 0 0 #8e929b;
    border-radius: 5px;
    box-shadow: 0 -2px 0 #74797f inset;
    color: #fff;
    display: inline-block;
    font-family: "Open Sans",sans-serif !important;
    font-size: 15px;
    margin: 15px 0 5px;
    padding: 6px 0;
    text-align: center;
    width: 27%;
}
.btn-sm-custom-pop03:hover,
.btn-sm-custom-pop03:active,
.btn-sm-custom-pop03:focus {
	color: #fff;
	text-decoration:none;
	box-shadow: 0 -4px 0 #74797f inset;
}
.btn-sm-custom-pop:hover,
.btn-sm-custom-pop:active,
.btn-sm-custom-pop:focus {
	color: #fff !important;
	box-shadow: 0 -4px 0 #27ae60 inset;
	text-decoration: none;
}
.btn-sm-custom-pop02:hover,
.btn-sm-custom-pop02:active,
.btn-sm-custom-pop02:focus {
	color: #fff !important;
	text-decoration: none;
	box-shadow: 0 -4px 0 #1d4868 inset;
}
.btn-sm-custom-pop04 {
    background: none repeat scroll 0 0 #2ecc71;
    border-radius: 5px;
    box-shadow: 0 -2px 0 #27ae60 inset;
    color: #fff;
    display: inline-block;
    font-family: "Open Sans",sans-serif !important;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 12px 0;
    text-align: center;
    width: 80%;
}
.btn-sm-custom-pop04:hover,
.btn-sm-custom-pop04:active,
.btn-sm-custom-pop04:focus {
	color: #fff !important;
	box-shadow: 0 -4px 0 #27ae60 inset;
	text-decoration: none;
}
.checkout-cards {
    display: none;
}
.style-input, .size-input, .qty-input, .size-price, .add-minus-btn {
    display: inline-block;
    float: left;
    margin-right: 8px;
}
.qty-input {
    width: 12%;
}
.size-input {
    width: 20%;
	border-left: 1px solid #aaa;
	border-radius: 5px;
}
.style-input {
    width: 33%;
}
.size-input .select2-container .select2-choice {
	border-left: 0 !important;
}
.visible-mobile {
    display: none;
}
.size-price .dollar {
    color: #2d4154;
    font-size: 18px;
    font-weight: bold;
    margin: 0 20px;
}
.less-btn {
    background: url("../img/less-btn.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 28px;
    text-indent: -9999px !important;
    width: 33px;
}
#size-style-modal .select2-container .select2-choice .select2-arrow {
	width: 25px;
}
#size-style-modal .select2-arrow b {
    background-image: url("../img/select-bg.png") !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	color: #1abc9c !important;
    display: block;
    height: 25px;
    padding: 0;
    width: 25px;
}
#size-style-modal .select2-container {
	width: 100%;
}
.landing-page-content h2.visible-mobile {
    float: none;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
	font-family: "Open Sans",sans-serif;
	margin-top: 0;	
}



/*diagram*/
#diagram-id-1 {
	background: url(../img/smiley.png) center center no-repeat;	
	border: 6px solid rgba(0, 0, 0, 0.15) !important;
}
#diagram-id-1 span {
	color: #2f3d51;
    font-weight: bold;
    line-height: 68px;
    margin-left: 75px;
}


/*counter*/

.addUpsell {
	display:block !important;
}
.checkout-cards-open {
    display: block !important;
    margin-top: 15px;
}
.circle-cart {
	display:inline-block;
	float:left;
}

.chosen-item-box:hover,
.chosen-item-box:focus,
.chosen-item-box:active {
	display:block !important;
	opacity:1 !important;
}

.logo {
	margin-top:3px;
}




/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Pacifico', cursive;*/

/************** MEDIA QUERIES ***************/
@media only screen and (min-width:481px) and (max-width:768px){
.nav-wrap {
	padding:0;	
}
.nav-wrap ul {
	float: none;	
}
.menu-right {
	float: none;
	display: block;	
}
.nav-wrap ul li {
	display: block;	
}
.nav-wrap ul li a {
	padding: 10px 0;
	display: block;	
}
.search-here {
	display: block;
	margin: 0 auto 10px;
	float: none;
}
.logo-holder {
	padding-top: 15px;		
}
.fan-message:before, .fan-message:after {
	width: 20px;
	height: 20px;
	background-size: 100%;	
}
.fan-message .fan-say {
	font-size: 16px;	
}
.fan-message {
	padding: 25px 40px 10px;	
}
.product-price {
	display: block;
}
.prefooter-right h3 {
	margin-top: 15px;
}
.visible-mobile {
	display: block;
}
}

@media only screen and (max-width:480px) {
.size-chart-btn {
	margin-top:10px;
}
.nav-wrap {
	padding:0;	
}
.nav-wrap ul {
	float: none;	
}
.menu-right {
	float: none;
	display: block;	
}
.nav-wrap ul li {
	display: block;	
}
.nav-wrap ul li a {
	padding: 10px 0;
	display: block;
}
.search-here {
	display: block;
	margin: 0 auto 10px;
	float: none;
}
.content-shirts .shirt-container,
.footer-wrap .col-xs-6 {
	width: 100% !important;	
}
.logo-holder {
	padding-top: 15px;		
}
.fan-message:before, .fan-message:after {
	width: 20px;
	height: 20px;
	background-size: 100%;	
}
.fan-message .fan-say {
	font-size: 16px;	
}
.fan-message {
	padding: 25px 40px 10px;	
}
.ourfans-banner .col-xs-6 {
	width: 100%;	
}
.logo-holder img {
	max-width: 180px;
}
.info {
	float: none;
	width: 100%;
	margin: 0 auto;
	max-width: 395px;
}
.product-price {
	display: block;
}
.prefooter-right h3 {
	margin-top: 15px;
}
.fan-message .fan-say {
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-size: 30px;
    font-style: italic;
}
.ourfans-banner .fan02-photo,
.ourfans-banner .fan03-photo,
.ourfans-banner .fan04-photo {
	display: none;
}
.visible-mobile {
	display: block;
}
.info {
	padding: 10px;
	text-align: center;
	float: none;
	margin: 0 auto;
}
.cart-holder {
	display: inline-block;
    float: none;
    margin: 0 auto;
    position: static;
    right: initial;
	width: 90px;
}
.info .cart-btn {
	margin-right: 0;
}
.info .question {
	float: none;
	margin: 0;
	text-align: center;
}
/*modal size-style*/
.detail-title {
	display: none;
}
.visible-mobile {
	display: block;
	float: left;
}
.style-title-mobile, .size-title-mobile, .qty-title-mobile, .size-prize-title-mobile {
	color: #2d4154;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 3px;
}
.less-btn, .add-btn {
	position: absolute;
	right: 0;
	top: 0;
}
.qty-input {
    width: 46%;
	margin-right: 2% !important;
}
.qty-input {
    margin-right: 0;
}
.size-input {
    margin-bottom: 10px;
    margin-right: 0;
    width: 52%;
}
.style-input {
    margin-bottom: 10px;
    margin-right: 0;
    width: 100%;
}
.size-price .dollar {
    bottom: 0;
    margin: 0 0 12px;
    position: absolute;
    right: 0;
}
.btn-sm-custom-pop03 {
	width: 60%;
	margin-bottom: 35px;
}
.lightbox-img-container {
	display: block;
    margin: 10px auto;
    max-width: 140px;
    position: relative;
    width: 100%;
}
.btn-sm-custom-pop02,
.btn-sm-custom-pop {
	width: 100%;
}
}
@media (max-width: 530px) {
.zoomContainer {
	display: none;
}
}
@media (max-width: 768px) {
.navbar-header {
	float: none;
}
.navbar-brand {
	display: block !important;	
}
.navbar-toggle {
	display: block;
}
.navbar-collapse {
	border-top: 1px solid transparent;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-collapse .collapse {
	display: none !important;
}
.navbar-nav {
	float: none !important;
	margin: 0px -15px;
}
.navbar-nav>li {
	float: none;
}
.navbar-nav > li > a {
	padding-top: 10px;
	padding-bottom: 10px;
}
.navbar-collapse.collapse {
	display: none !important;	
}
.logo-holder,
.menu-holder {
	width: 100%;	
}
}
@media (max-width: 1120px) {
.cart-btn.sticky {
	right: 15px;
}
}
@media (max-width: 320px) {
.chosen-item-box {
	margin-left: 18px;
}
}