@font-face {
    font-family: 'LatoBlack';
    src: url('../fonts/lato-black.eot');
    src: url('../fonts/lato-black.eot') format('embedded-opentype'),
         url('../fonts/lato-black.woff') format('woff'),
         url('../fonts/lato-black.ttf') format('truetype'),
         url('../fonts/lato-black.svg#LatoBlack') format('svg');
}
