#pre-footer-wrapper{style: "min-height: 217px;"}
  .container
    .row
      .col-md-6
        %p.guarantee-wrap
          %span.guarantee We guarantee 100% satisfaction
          %br
          If you don't absolutely love your print, we'll take it back.
          = link_to "Learn more", "#"
        - if controller_name == "products"
          - if @product.active
            = link_to "Buy It Now", "#", {class: "btn-sm-custom", :'ng-click' => "openModal(product)"}
        - elsif controller_name == "home"
          = link_to "Contact Us", "/contact-us", {class: "btn-sm-custom"}
      .col-md-6
        .row
          .col-xs-6.col-md-6.learn-more
            %span.dark Learn More
            %ul
              %li
                = link_to "About us", "/about-us"
              %li
                = link_to "FAQ", "/faq"
              %li
                = link_to "Contact us", "/contact-us"

          .col-xs-6.col-md-6.your-account
            %span.dark Your Account
            %ul
              %li
                = link_to "Log In", new_user_session_path
              %li
                = link_to "Track An Order", "/dashboard/#/orders"
