%div{:'ng-controller' => "CheckoutCtrl"}

	#shipping-header
		.container
			- flash.each do |name, msg|
				.alert{ class: "alert-#{name == :notice ? "success" : "danger"}" }
					- msgs = msg.split(",")
					%ul
						- msgs.each do |m|
							%li
								= m.strip

		.container
			.row
				.col-md-9
					%img{src: "#{@product.gallery[0][:thumb]}", alt: "shirt"}
					.hunting-legend
						%h1
							= @product.title
						%p.limited-edition
							= @product.description.html_safe
							-# %span Limited Edition Tee.
						%p.mens-tee
							-# Men's Tee -
							= "#{number_to_currency(@total)} + #{number_to_currency(@shipping)} (shipping cost)"

				.col-md-3.text-center
					%img{ src: "/assets/free-shipping-img.png", alt: "free-shipping" }

	#shipping-content
		.container
			.row
				.col-md-7
					%h2 Shipping Information
					%p.fields
						Fields mark with
						%span.red-asterisk *
						are mandatory

					= form_for @order, url: eway_checkout_products_path do |o|
						.row
							.col-md-6.col-sm-6
								.form-group
									%label
										First Name
										%span.red-asterisk *
									= text_field_tag :first_name, "", {class: "form-control user-bg", :'ng-model' => "checkout.first_name"}

							.col-md-6.col-sm-6
								.form-group
									%label
										Last Name
										%span.red-asterisk *
									= text_field_tag :last_name, "", {class: "form-control user-bg", :'ng-model' => "checkout.last_name"}

						.row
							.form-group.name
								.col-md-6.col-sm-6
									%label
										Email Address
										%span.red-asterisk *
									= text_field_tag :email, "", {class: "form-control email-bg", :'ng-model' => "checkout.email"}

								.col-md-6.col-sm-6
									%label
										Phone Number
										%span.red-asterisk *
									= text_field_tag :phone, "", {class: "form-control phone-bg", :'ng-model' => "checkout.phone"}

						.form-group.name
							%label
								Shipping Address
								%span.red-asterisk *
							-# %input.form-control.deliver-bg{ type: "text", name: "street-address", placeholder: "Street Address" }
							= text_field_tag :address, "", {class: "form-control deliver-bg", placeholder: "Street Address", :'ng-model' => "checkout.address"}

						.row
							.col-md-4.col-sm-4
								.form-group
									%label.sr-only
									-# %input.form-control.deliver-bg{ type: "text", name: "city", placeholder: "City" }
									= text_field_tag :city, "", {class: "form-control deliver-bg", placeholder: "Suburb / Town", :'ng-model' => "checkout.city"}
							.col-md-8.col-sm-8
								.form-group
									%label.sr-only
									.selectparent
										= select_tag :state_select, "", {class: "deliver-bg", id: "shipping-select02", :'ng-model' => "state", :'ng-options' => 's.name for s in states', :'ng-change' => "selectState(this)"}
										= hidden_field_tag :state, "{{state.abr}}", {:'ng-model' => "checkout.state"}

						.row
							.col-md-9.col-sm-9
								.form-group
									%label.sr-only
									= text_field_tag :aus, "Australia", {disabled: "true", class: "form-control deliver-bg"}
									= hidden_field_tag :country, "{{country.iso}}", {:'ng-model' => "checkout.country"}
									-# .selectparent
									-# 	= select_tag :select, "", {class: "deliver-bg", id: "shipping-select02", :'ng-model' => "country", :'ng-options' => 'c.name for c in countries', :'ng-change' => "selectCountry(this)"}
									-# 	= hidden_field_tag :country, "{{country.iso}}", {:'ng-model' => "checkout.country"}

							.col-md-3.col-sm-3
								.form-group
									%label.sr-only
									-# %input.form-control.deliver-bg{ type: "text", name: "postal-code", placeholder: "Postal Code" }
									= text_field_tag :zip, "", {class: "form-control deliver-bg", placeholder: "Postal Code", :'ng-model' => "checkout.zip"}

						%h2 Payment Information
						%p.fields All fields are mandatory

						.row
							.col-md-10.col-sm-10
								.form-group
									%label Credit Card Number
									-# %input.form-control.exp-ccv{ type: "text" }
									= text_field_tag :cc_number, "", { class: "form-control exp-ccv", :'ng-model' => "checkout.cc_number" }

							.col-md-2.col-sm-2
								.form-group
									%label CCV
									-# %input.form-control.exp-ccv{ type: "text" }
									= text_field_tag :cvn, "", { class: "form-control exp-ccv", :'ng-model' => "checkout.cvn" }

						.form-group
							%label Expiration Date
							.clear
							-# %input.form-control.exp-date{ type: "text", placeholder: "MM", name: "month" }
							= text_field_tag :month, "", { placeholder: "MM", class: "form-control exp-date", :'ng-model' => "checkout.month" }
							-# %input.form-control.exp-date{ type: "text", placeholder: "YY", name: "year" }
							= text_field_tag :year, "", { placeholder: "YY", class: "form-control exp-date", :'ng-model' => "checkout.year" }
							%span
								%img{ src: "/assets/cards-logo.png", alt: "cards" }

						%p.total-order
							Your Order Total:
							= number_to_currency(@total + @shipping)
							-# $29.00

						%button.btn.place-order-btn{ type: "submit", name: "submit" } Place Order
						-# %input.place-your-order{name: "submit", type: "submit", value: "Place Your Order"}

				.col-md-5
					.sidebar
						.weekend
							%h2
								= @product.title
							%ul
								%li Made by Australians, for Australians, in Australia
								%li Express Shipping in Australia for a limited time
								%li Printed on Premium Quality Tees & Hoodies
								%li Got a Question? Speak to us right now on 1300 76 65 67 or chat to us below
								%li Your order will be fulfilled 14-21 days after the campaign reaches its goal.

						.gray-logo
							.row
								.col-md-4.col-sm.4.text-center
									%img{ src: "/assets/money-back-logo.png", alt: "money-back" }
								.col-md-4.col-sm.4.text-center
									%img{ src: "/assets/free-delivery-logo.png", alt: "free-delivery" }
								.col-md-4.col-sm.4.text-center
									%img{ src: "/assets/secure-info-logo.png", alt: "secure-info" }

						.sidebar-logo.text-center
							%img{ src: "/assets/sidebar-logo.png", alt: "sidebar-logo" }

