%div{:'ng-controller' => "CheckoutCtrl"}
	- real_total = @total + @shipping

	.content-checkout
		.container.check-out-grey-bg
			.row
				- if @coupon_err
					.alert.alert-danger{style: "margin: 10px"}
						Invalid Coupon Code.

				.col-md-8.checkout-leftcontent
					.checkout-order-details

						- flash.each do |name,msg|
							%div{class: "alert alert-#{name == :notice ? "success" : "danger"}"}
								- msgs = msg.split(",")
								%ul{style: "margin-top:0 !important;"}
									- msgs.each do |m|
										%li
											= m.strip

						%h2 Order Details
						.spacer

						-# %form{:role => 'form'}
						= form_for @order, url: order_checkout_products_path do |c|
							%input{ :type=>"hidden",:name=>"product_id",:value=>"#{@product.id}" }

							- @pending_orders.each do |o|
								.order-sample-container
									-# %a{:href=>"#"}
									-# 	%img.x-btn{:src=>"/assets/x-btn.png"}

									.col-md-2.order-img-container.text-center
										%img{:src=>"#{o[:image]}"}

									.col-md-10
										%h3
											= o[:name]
										%p
											You have ordered a
											%strong
												= succeed ',' do
													= o[:style]
											in size:
											- if @product.status != Product::CAMPAIGN
												%input{:type=>"hidden",:name=>"size[]",:value=>"#{o[:size]}"}
												= o[:size]

											-# = o[:description].html_safe
										-# %p.save Save $10 on every shirt you buy!
										%input{:type=>"hidden",:name=>"qty[]",:value=>"#{o[:qty]}"}
										%input{:type=>"hidden",:name=>"cat_ids[]",:value=>"#{o[:category_id]}"}
										- if @product.status == Product::CAMPAIGN
											%select.small-select{:name=>"size[]", :style => "margin:0 !important;" }
												- o[:sizes].each do |s|
													- if s == o[:size]
														%option{:value=>"#{s}", :selected=>"selected"} #{s}
													- else
														%option{:value=>"#{s}"} #{s}

										%p.shirt-price
											= o[:price]

									.clearfix

							%p.shipping-fee
								Shipping fee
								%span
									{{shipping_fee | currency:"$"}}
							%p.details-total
								TOTAL:
								%span
									{{total | currency:"$"}}

							.checkout-shipping-information
								%h2 Shipping Information
								%p.field-note All Fields Are Required
								.spacer
								.checkout-shipping-form-container
									.col-md-6
										%p First Name
										%input{ :tabindex=>1, :type => "text", :name => "first_name", :placeholder => "Enter your first name", :'ng-model'=>"checkout.first_name" }
										.spacer15
										%p Last Name
										%input{ :tabindex=>2, :type=>"text", :name=>"last_name", :placeholder=>"Enter your last name", :'ng-model'=>"checkout.last_name" }
										.spacer15
										%p Email Address
										%input{:tabindex=>3, :type => "email", :name => "email", :placeholder => "Enter your email address", :'ng-model'=>"checkout.email" }
										.spacer15
										%p Phone Number
										%input{:tabindex=>4, :type=>"text", :name=>"phone", :placeholder=>"Enter your phone number", :'ng-model'=>"checkout.phone" }
										.spacer15

									.col-md-6


										%p Street Address
										%input{:tabindex=>5,:name=>"address", :placeholder=>"Enter your address", :type=>"text",:'ng-model'=>"checkout.address" }
										-# %input#autocomplete{:tabindex=>5,:name=>"address", :placeholder=>"Enter your address", :onFocus=>"geolocate()", :type=>"text",:'ng-model'=>"checkout.street_address" }
										-# %input.field#subpremise{:name=>"subpremise", :disabled=>"true", :type=>"text", :style=>"display:none;" }
										-# %input.field#street_number{:name=>"street_number", :disabled=>"true", :type=>"text", :style=>"display:none;" }
										-# %input.field#route{:name=>"route", :disabled=>"true", :type=>"text", :style=>"display:none;" }
										.spacer15

										%p Suburb / Town
										%input.field#locality{:tabindex=>6,:'ng-model'=>"checkout.city",:name=>"city", :type=>"text"}
										.spacer15

										.col-md-6.no-padding-left
											%p State
											%input.field#administrative_area_level_1{:tabindex=>7,:'ng-model'=>"checkout.state", :name=>"state", :type=>"text"}

										.col-md-6.no-padding-right
											%p Postal Code
											%input.field#postal_code{:tabindex=>8,:'ng-model'=>"checkout.zip",:name=>"zip", :type=>"text" }
										.clearfix
										.spacer15

										%p Country
										%input{ :type=>"hidden",:name=>"country",:value=>"{{checkout.country}}"}
										/ %input{ :type=>"text", :value=>"{{country.name}}", :disabled=>"disabled"}
										= select_tag :select, "", {:'ng-model' => "country", :'ng-options' => 'c.name for c in countries', :'ng-change' => "selectCountry(this)"}

									.clearfix

							.checkout-payment-option
								.spacer
								.radio01.radioCurrent
									%label
										%input#optionsRadios1{:tabindex=>9, :type=>"radio", :name=>"optionsRadios", :value=>"creditcard", :checked=>"checked", :'ng-click' => "selectPayment('CC')" }
										%img{:src=>"/assets/cc.png"}

								/ 	%label{style: "width: 160px"}
								/ 		%input.btn-sm-custom-pop{type: "button", name: "add_coupon", value: "Add A Coupon", :'ng-click' => "addCoupon()"}

								/ %div{:'ng-show' => 'coupons.length > 0'}
								/ 	.spacer
								/ 	%h3 Coupon Codes
								/ 	.col-md-6
								/ 		.row{style: "padding: 5px 15px", :'ng-repeat' => "coupon in coupons track by $index"}
								/ 			%input{type: "text", name: "coupon[]", placeholder: "Coupon Code # {{$index + 1}}", style: "width: 95%", :'ng-model' => "coupon.value"}
								/ 			%a{style: "cursor: pointer", :'ng-click' => "removeCoupon($index)"}
								/ 				%img{src: "/assets/rex-x.png"}

								/ 	.col-md-6
								/ 		&nbsp;

								/ 	.clearfix

							.checkout-credit-card
								%h2 Credit card information
								%p.field-note All Fields Are Required
								.spacer
								.col-md-6
									%p Credit card number
									%input{:'ng-model'=>"checkout.cc_number", :type=>"text", :name=>"cc_number", :value=>"" }

								.col-md-3
									%p Expiration date
									%input.exp-date{:'ng-model'=>"checkout.month",:type=>"text",:name=>"month",:placeholder=>"MM"}
									%span.date-dash -
									%input.exp-date{:'ng-model'=>"checkout.year",:type=>"text",:name=>"year",:placeholder=>"YY"}
									.clearfix
								.col-md-3
									%p CVV code
									%input{:'ng-model'=>"checkout.cvn",:type=>"text",:name=>"cvn",:value=>""}

								.clearfix
								.spacer

								%p{style: "padding: 0 15px"}
									%a{style: "cursor: pointer; color: #ccc", :'ng-click' => "toggleCoupon()"} Have a coupon code?

								%p{style: "padding: 0 15px", :'ng-show' => "show_coupon"}
									%input{type: "text", name: "coupon", placeholder: "Coupon Code", style: "width: 50%", :'ng-model' => "coupon.code", :'ng-class' => "coupon.txtClass"}
									%input{type: "hidden", name: "check_coupon", :'ng-model' => "coupon.checked"}
									%input.checkout-coupon-btn{type: "button", name: "button", :'ng-click' => "applyCoupon()", :'ng-class' => "coupon.class", :'ng-value' => "coupon.btn"}
									/ %span#coupon-desc{style: "border: 1px solid #d3d3d3; margin-left: -4px; padding: 3px 6px; width: 50%; display: inline-block"}
									/ 	%i{style: "color: #555"} {{coupon.description}}
								.clearfix

								.col-md-12
									.checkout-total
										%p.total-price
											Your Order total :
											%span
												{{total - coupon.discount | currency:"$"}}
										%p.arrive-date
											Your order will arrive No Later than:
											%span
												= @delivery_date.strftime("%b %d, %Y")
										.clearfix
									%input{:type=>"hidden",:name=>"mode",:value=>"credit"}
									%input{:type=>"submit",:value=>"Place your order now",:name=>"Submit",:'ng-click'=>"submitCheckout()"}

								.spacer15
								%p.text-center
									%img{:src=>"/assets/sponsor-logo.png"}

							/paypal
							.checkout-credit-card-paypal{:style=>"display:none;"}
								%h2 You will be sent to PayPal website for secure payment
								.clearfix
								.spacer
								.col-md-12
									.checkout-total
										%p.total-price
											Your Order total :
											%span
												= number_to_currency(real_total)
										%p.arrive-date
											Your order will arrive No Later than:
											%span
												= @delivery_date.strftime("%b %d, %Y")
										.clearfix
									.spacer
									%input{:name=>"paypal",:type=>"submit",:value=>"Place your order now",:'ng-click'=>"submitCheckout()"}
									/%a.link-to-paypal{:href=>"#",:'ng-click'=>"submitCheckout()"} Place Your Order Now
								.spacer15
								%p.text-center
									%img{:src=>"/assets/bdg_secured_by_pp_2line.png"}


				.col-md-4.sidebar-checkout
					%h3
						Order now! and get your shirt no later than
						%br
						%span
							= @delivery_date.strftime("%B %d, %Y")
					.checkout-orange-sticker
						%h4 BUY WITH 100% CONFIDENCE
						%ul
							%li Made By Australians, For Australians, In Australia
							%li 100% Money Back Guarantee
							%li Printed on Premium Quality Tees and Hoodies
							%li
								Got A Question? Speak to us right now on live chat below or call us on
								%strong 1300 76 65 67
					.checkout-side-comment
						.comment-arrow
							.checkout-comment-container
								.checkout-comment-content
									%p “I got my hoodie today...so happy, I love it..fits perfect and so warm, great quality product too so thank you. Thanks also for emailing and keeping me informed with what was going on...great job guys n gals!”
								%img{:src=>"/assets/checkout-comment-arrow-down.png"}

						%p.checkout-comment-name.commen-name-green-bg
							Vanessa Meyer
							%br
							%span Sydney, Australia

						.comment-arrow
							.checkout-comment-container
								.checkout-comment-content
									%p Its awesome my girlfriend loves it! Thanks for the customer awesome service !!!
								%img{:src=>"/assets/checkout-comment-arrow-down.png"}
						%p.checkout-comment-name.commen-name-blue-bg
							Andrew Bond
							%br
							%span Sydney, Australia

						.comment-arrow
							.checkout-comment-container
								.checkout-comment-content
									%p Just wanted to thankyou for my hoodie as it just arrived today and I love it.
								%img{:src=>"/assets/checkout-comment-arrow-down.png"}
						%p.checkout-comment-name.commen-name-orange-bg
							Kylie McTackett
							%br
							%span Sydney, Australia

						.comment-arrow
							.checkout-comment-container
								.checkout-comment-content
									%p “I got it!!!! Thank youu guys n girls sooooo much I love it!! Deffinatly will buy more =D very happy! Thanks again!!”
								%img{:src=>"/assets/checkout-comment-arrow-down.png"}
						%p.checkout-comment-name.commen-name-fb-bg
							Marlee Agius
							%br
							%span Sydney, Australia

					%p.text-center
						%img{:src=>"/assets/sidebar-logo.jpg"}

	/= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"
	/= javascript_include_tag "checkout.js"



= rejoiner_tracking

:javascript

	var orders = gon.params.orders;

	_rejoiner.push(['setCartData',{
		value: gon.total,
		totalItems: orders.styles.length,
		returnUrl: gon.root_url + 'order/rebuild/' + gon.tracking_id
	}]);

	var i = 0;
	for(i=0;i<orders.styles.length;i++){
		_rejoiner.push(['setCartItem',{
			product_id: gon.product.id,
			name: gon.product.title,
			item_qty: parseInt(orders.qty[i]),
			category: orders.styles[i],
			image_url: gon.product_image,
			price: "$" + orders.price[i] + ".00"
		}]);
	}


