<?xml version="1.0"?>
<rss xmlns:g="http://base.google.com/ns/1.0" version="2.0">
  <channel>
    <title>Fantees</title>
    <link><%= "https://#{ENV['BASE_URL']}" %></link>
    <description>We are the only online store you need for all your fan based apparel. Sport, Jobs, Cars anything that you're a fan of we have the perfect design for you!</description>
    <% @products.each do |product| %>
      <% product.product_images.each do |ps| %>
        <%- product.settings(:options).prices.each do |pr| %>
          <%- if !ps.category.nil? && pr[:category_id] == ps.category.id %>
            <item>

              <title><%= product.title %> - <%= ps.category.name %></title>
              <link><%= "#{root_url}/#{product.slug}" %></link>
              <description><%= strip_tags product.description %></description>
              <g:id><%= product.id %></g:id>
              <g:condition><%= product.condition %></g:condition>
              <g:price><%= number_to_currency pr[:amount], unit: "" %> AUS</g:price>
              <g:availability><%= product.availability %></g:availability>
              <g:image_link><%= ps.product_image %></g:image_link>

              <g:google_product_category><%= product.product_category %></g:google_product_category>


              <g:item_group_id>G<%= product.id %></g:item_group_id>


              <g:brand><%= product.brand %></g:brand>
              <g:mpn><%= product.id %></g:mpn>
            </item>
          <% end %>    
        <% end %>
      <% end %>
    <% end %>

  </channel>
</rss>
