%div{ng: {controller: "ProductShowCtrl"}}
  #content-wrapper
    .container
      .row
        .col-md-6
          .big-img.text-center
            - unless @product.nil?
              = link_to image_tag(@product.product_images.sample.product_image(:medium), id: "big-image", alt: "T-shirt", width: 413), "/#{@product.slug}"
            - else
              %img#big-image{:'src' => "https://do3cvyzuuxwrz.cloudfront.net/product_images/product_images/000/001/175/medium/smith-mens.png", :alt => "T-shirt", :width => "413"}
        - unless @notify.nil?
          .col-md-6.hidden-xs
            %h2
              Thank You!
            %p
              We will notify you once we make one for YOU!
          .col-md-6.hidden-xs
            %p
              %span.dark
                Find Another Tee
            = form_tag "/search/name", method: :get do
              .row
                .col-md-6
                  = text_field_tag :q, params[:q], placeholder: "First Name"
                .col-md-6
                  = text_field_tag :s, params[:s], placeholder: "Last Name"
              = submit_tag "Find My Tee", class: "btn btn-success"
            %hr
        - else
          - if params[:q].nil? && params[:s].nil?
            .col-md-6.hidden-xs
              %h2
                Your Name On A Tee?
              %p
                Enter your name below and see if we've got a tee made specially for YOU!
            .col-md-6.hidden-xs
              = form_tag "/search/name", method: :get do
                .row
                  .col-md-6
                    = text_field_tag :q, params[:q], placeholder: "First Name"
                  .col-md-6
                    = text_field_tag :s, params[:s], placeholder: "Last Name"
                = submit_tag "Find My Tee", class: "btn btn-success"
              %hr
          - else
            -if @product.nil?
              .col-md-6.hidden-xs
                %h2
                  Get Notified
                %p
                  Do you want to be notified once we make one for YOU?
              .col-md-6.hidden-xs
                = form_tag "/search/name/notify", method: :post do
                  = label_tag "Email:"
                  = text_field_tag :email
                  = hidden_field_tag :name, [params[:q], params[:s]].join(" ")
                  = hidden_field_tag :i, @s.id
                  = submit_tag "Notify Me", class: "btn btn-success"
                  = link_to "Find My Tee"
            - else
              .col-md-6.hidden-xs
                %h2
                  Your Name On A Tee?
                %p
                  Enter your name below and see if we've got a tee made specially for YOU!
                  #{[params[:q], params[:s]].join(" ")}
              .col-md-6.hidden-xs
                = form_tag "/search/name", method: :get do
                  .row
                    .col-md-6
                      = text_field_tag :q, params[:q], placeholder: "First Name"
                    .col-md-6
                      = text_field_tag :s, params[:s], placeholder: "Last Name"
                  = submit_tag "Find My Tee", class: "btn btn-success"
                %hr