.landing-page-content{ng: {controller: "ProductShowCtrl"}}
  / landing-page-content
  .center
    - if @error && @order_err
      .alert.alert-danger
        The Product you purchase was out of stock, Please Try Again Or Call Us At: 1300 76 65 67
    - elsif @error
      .alert.alert-danger
        There Was A Problems With Your Order, Please Try Again Or Call Us At: 1300 76 65 67

    .col-lg-6.col-md-6.col-sm-6.col-xs-12.landing-left
      %h2.visible-mobile
        = @product.title
      .big-img.text-center
        %span.product-price {{price.amount | currency:"$"}}

        %img.defaultImg{:'src' => "/assets/thumbnail-default.jpg", :'ng-show' => "!currentImg.medium", :alt => "T-shirt", :width => "407", :height => "434", :"data-zoom-image" => "/assets/thumbnail-default.jpg"}
        %img#big-image.productImg.hidden-xs{:'ng-src' => "{{currentImg.medium}}", :'ng-show' => "currentImg.medium", :alt => "T-shirt", "zoom-image" => "{{currentImg.original}}", 'ng-elevate-zoom' => ""}
        %img#big-image.productImg.visible-xs{:'ng-src' => "{{currentImg.medium}}", :'ng-show' => "currentImg.medium", :alt => "T-shirt", "zoom-image" => "{{currentImg.original}}"}

        / %span{'ng-repeat' => "i in images"}
        /   %img.productImg{:'ng-src' => "{{i.medium}}", :'ng-show' => "currentImg.medium", :alt => "T-shirt", "zoom-image" => "{{i.original}}", 'ng-elevate-zoom' => ""}

      .thumbnail-images
        .thumbnail-holder{ng: {repeat: "i in images", :class => "current(i.id)"}}
          %img{:alt => "Thumbnail", :'ng-src' => "{{i.thumb}}", :'ng-click' => "selecteImage(i, $index)"}
        .clearfix
    .col-lg-6.col-md-6.col-sm-6.col-xs-12.landing-right
      %h2.hidden-xs
        = @product.title


      = @product.description.html_safe
      %span.choose-style
        %strong Choose Your Style, Then Click Buy It Now
      .clearfix

      .big-custom-select
        %select.e1{:'ng-model' => 'price', :'ng-options' => 'c as c.name for c in prices', :'ng-change' => "selectCategory(this)", :'ui-select2' => "", }

      .qty-size
        / qty-size
        .qty-holder

        - if @product.gift_card == false
          .size-holder
            / size-holder
            %h5

            %a.size-chart-btn.btn.btn-primary.btn-sm{"data-target" => "#pop-up-sizes", "data-toggle" => "modal", :href => "#"} View Size Chart
          .clearfix
      / qty-size

      - if @product.active
        %a.buy-it-now-btn.corner.iradius16{"ng-click" => "openModal(product)", :href => "#"} Buy It Now
      - if @product.status == 0
        - if @product.gift_card == false
          %h3.sold-big
            = "#{@sales} sold towards goal of #{@product.sales}"
          .progress.progress-big
            - percent = (@sales / @product.sales.to_f) * 100
            - percent = percent > 100 ? 100 : percent.round
            .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "20", :role => "progressbar", :style => "width: #{percent}%;"}
              %span.sr-only
                = "#{percent}% Complete"
          %p
            = "#{@sales} have been sold (towards the original goal of #{@product.sales})"
            %br/
            You can keep buying until the campaign ends
          .left-to-buy-timer
            #my-count-down
            %span{:style => "font-size:14px;"} left to buy
      - else
        - if @product.gift_card == false
          %p
            - status = @product.status == 1 ? "Printing" : "In Stock"
            %strong Status:
            = status
            %br/
            - delivery = @product.status == 1 ? "10 - 14 days" : "2 - 3 days"
            %strong Estimated Delivery Time:
            = delivery

    .clearfix