%div{ng: {controller: "ProductShowCtrl"}}
  #content-wrapper
    .container
      .row
        - if @error && @order_err
          .alert.alert-danger
            The Product you purchase was out of stock, Please Try Again Or Call Us At: 1300 76 65 67
        - elsif @error
          .alert.alert-danger
            There Was A Problems With Your Order, Please Try Again Or Call Us At: 1300 76 65 67

        .col-md-6.visible-xs.text-center
          %h2
            = @product.title
          %p
            = @product.description.html_safe

        .col-md-6
          .big-img.text-center
            %span.product-price.visible-xs
              {{price.amount | currency:"$"}}
              / = "$#{number_with_precision(@product.price, :precision => 2)}"
            / = image_tag @product.product_images.first.product_image(:medium), {alt: "T-shirt", id: "big-image"}
            %img#big-image.defaultImg{:'src' => "/assets/thumbnail-default.jpg", :'ng-show' => "!currentImg.medium", :alt => "T-shirt", :width => "413"}
            %img#big-image.productImg{:'ng-src' => "{{currentImg.medium}}", :'ng-show' => "currentImg.medium", :alt => "T-shirt"}
          %div{:'ng-show' => "showNextPrev"}
            %span.front-back.visible-xs
              = link_to "<< Back", "#", {:'ng-click' => "back()"}
              |
              = link_to "Next >>", "#", {:'ng-click' => "next()"}

          .row.hidden-xs
            .col-md-2.col-xs-2{ng: {repeat: "i in images"}}
              %span.thumb-hover.front{:'ng-class' => "current(i.id)", :'ng-click' => "selecteImage(i, $index)"}
                %img{:alt => "Thumbnail", :'ng-src' => "{{i.medium}}", :'ng-click' => "selecteImage(i, $index)"}

          %hr.hidden-xs

          %div.row.visible-xs{style: "padding: 0 15px"}
            %hr
            .col-xs-5
              %span.fraction
                = "#{@sales}/#{@product.sales}"
              %span.pre-ordered pre-ordered
            .col-xs-7
              %span.fraction#mobile-days-left
                = "#{@product.time_left[:days]} days #{@product.time_left[:hours]} Hours"
              %span.pre-ordered Left to buy

            .clearfix
            %hr

        .col-md-6.hidden-xs
          %h2
            = @product.title
          %p
            = @product.description.html_safe

        / .col-md-6.hidden-xs
        /   %p
        /     %span.dark
        /       Order 2 or more and SAVE on shipping!
        /       %br
        /       We Now Ship Worldwide!
        /   %p
        /     %span.dark Trouble ordering?
        /     %br
        /     Contact FanTees Customer Support! +1 (855) 833-7774.

        .col-md-6
          / %p
          /   %span.dark
          /     Select your style (Ladies or Mens) then Click Buy it now to finalize your order!
          .row

            .col-md-6
              %p
                %span.dark
                  Choose Your Style
            .col-md-6
              %p

                %a.size-chart-btn.btn.btn-primary.btn-sm{"data-target" => "#pop-up-sizes", "data-toggle" => "modal", :href => "#"} View Size Chart


          .clearfix
          / %select#e4{:'ng-model' => 'selected', :'ng-options' => "c as c.name for c in categories", :'ng-change' => "selectCategory(this)", :'ui-select2' => ""}
          %select#e4{:'ng-model' => 'price', :'ng-options' => 'c as c.name for c in prices', :'ng-change' => "selectCategory(this)", :'ui-select2' => "", }

          .clearfix
          .colors{style: "margin-top: 10px"}
          /   .col-md-6
          /     %span.shirt-color Shirt Color:
          /     .black-div.swatch-current
          /       %a.black-swatch{href: "#"}
          /     .black-div
          /       %a.blue-swatch{href: "#"}
          /     .black-div
          /       %a.violet-swatch{href: "#"}
          /   .col-md-6
          /     %a.size-info{href: "#"} Size info
          - if @product.active
            %a.btn-big-custom{href: "#", ng: {click: "openModal(product)"}} Buy It Now
          - if @product.status == 0
            %p.guarantee.hidden-xs
              = "#{@sales} sold towards goal of #{@product.sales}"
            .progress.hidden-xs
              - percent = (@sales / @product.sales.to_f) * 100
              - percent = percent > 100 ? 100 : percent.round
              .progress-bar.progress-bar-success{role: "progressbar", style: "width: #{percent}%", aria: {valuenow: 60, valuemin: "0", valuemax: "100"}}
                %span.sr-only
                  = "#{percent}% Complete"
            %p
              = "#{@sales} have been sold (towards the original goal of #{@product.sales})"
              %br
              You can keep buying until the campaign ends
            %hr.hidden-xs

            %hr.visible-xs
            #my-count-down
            %span{style: "font-size: 14px"} left to buy
            .clearfix
            %hr.visible-xs
          - else
            %p
              - status = @product.status == 1 ? "Printing" : "In Stock"
              %strong Status:
              = status
              %br/
              - delivery = @product.status == 1 ? "10 - 14 days" : "2 - 3 days"
              %strong Estimated Delivery Time:
              = delivery

        .col-md-6.visible-xs
          %p
            %span.dark
              Order 2 or more and SAVE on shipping!
              %br
              We Now Ship Worldwide!
          %p
            %span.dark Trouble ordering?
            %br
            Contact FanTees Customer Support! +1 (855) 833-7774.


  #pop-up-sizes.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog.pop-up-chart
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
          %h2#myModalLabel.modal-title.size-chart-header Size Does Matter
        .modal-body
          #sizechart-content-wrap
            / content
            .container
              .center
                .col-md-3.left-content.text-center
                  = image_tag "sizechart/mens-shirt.png"
                .col-md-9.right-content
                  %h3 Mens Shirt
                  %p Use our guide to find your perfect size fit.
                  .table-responsive
                    %table.table.table-hover.table-bordered.table-curved.text-center
                      %tr.th-header
                        %td Size
                        %td
                          %strong S
                        %td
                          %strong M
                        %td
                          %strong L
                        %td
                          %strong XL
                        %td
                          %strong XXL
                        %td
                          %strong XXXL
                      %tr
                        %td Width (cm)
                        %td 46
                        %td 50
                        %td 55
                        %td 60
                        %td 65
                        %td 70
                      %tr
                        %td Length (cm)
                        %td 71
                        %td 74
                        %td 77
                        %td 79
                        %td 82
                        %td 85
                  %p.note *These measurements are of the garments
                .clearfix
                .spacer02
                .col-md-3.left-content.text-center

                  = image_tag "sizechart/womens-shirt.png"
                .col-md-9.right-content
                  %h3 Womens Shirt
                  %p Use our guide to find your perfect size fit.
                  .table-responsive
                    %table.table.table-hover.table-responsive.table-bordered.table-curved.text-center
                      %tr.th-header
                        %td Size
                        %td
                          %strong S / 10
                        %td
                          %strong M / 12
                        %td
                          %strong L /14
                        %td
                          %strong XL / 16
                        %td
                          %strong XXL / 18
                      %tr
                        %td Width (cm)
                        %td 43
                        %td 46
                        %td 49
                        %td 55
                        %td 60
                      %tr
                        %td Length (cm)
                        %td 66
                        %td 68
                        %td 70
                        %td 72
                        %td 74
                  %p.note *These measurements are of the garments
                .clearfix
                .spacer02
                .col-md-3.left-content.text-center

                  = image_tag "sizechart/hoodies.png"
                .col-md-9.right-content
                  %h3 Unisex Hoodies
                  %p Use our guide to find your perfect size fit.
                  .table-responsive
                    %table.table.table-hover.table-responsive.table-bordered.table-curved.text-center
                      %tr.th-header
                        %td Size
                        %td
                          %strong XXS / 6
                        %td
                          %strong XS / 8
                        %td
                          %strong S / 10
                        %td
                          %strong M / 12
                        %td
                          %strong L / 14
                        %td
                          %strong XL / 16
                        %td
                          %strong XXL / 18
                        %td
                          %strong XXXL / 20
                      %tr
                        %td Width (cm)
                        %td 46
                        %td 49
                        %td 51
                        %td 54
                        %td 57
                        %td 60
                        %td 65
                        %td 71.5
                      %tr
                        %td Length (cm)
                        %td 67
                        %td 70
                        %td 72
                        %td 74
                        %td 76
                        %td 79
                        %td 81
                        %td 84.4
                  %p.note *These measurements are of the garments
                .clearfix
              / center
            / container
          / content