@font-face {
    font-family: 'AllerBold';
    src: url('aller_bold.eot');
    src: url('aller_bold.eot') format('embedded-opentype'),
         url('aller_bold.woff') format('woff'),
         url('aller_bold.ttf') format('truetype'),
         url('aller_bold.svg#AllerBold') format('svg');
}
