!!!
%html{:'ng-app' => "FanTees"}
  %head
    %title= @title.blank? ? "Fantees" : @title
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}

    = csrf_meta_tags

    - if controller_name == "home"
      / - 3.times do |x|
      /   %meta{property: "og:image", content: "#{@fb_og_image[x]}"}

      - if @customize_page
        %meta{property: "og:image", content: "#{image_path(@social_share_img)}"}
        %meta{:content => "#{@meta_desc}", :name => "description"}
      - else
        %meta{:content => "Looking For custom designed apparel for people who love what they do? High quality screen printed apparel shipped straight to your door.", :name => "description"}

    %meta{property: "og:image:width", content: "1200"}
    %meta{property: "og:image:height", content: "600"}
    %meta{property: "twitter:account_id", content: "4503599631052683"}
    / - if controller_name == "home"
    /   %meta{:content => "Looking For custom designed apparel for people who love what they do? High quality screen printed apparel shipped straight to your door.", :name => "description"}

    %link{rel: "icon", type: "image/x-icon", href: "/favicon.ico"}
    %link{:href => "//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,300,300italic", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "//fonts.googleapis.com/css?family=Lato:400,900,700", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "//fonts.googleapis.com/css?family=Pacifico", :rel => "stylesheet", :type => "text/css"}
    /[if IE 7]
      %link{:href => "/css/bootstrap-ie7.css", :type => "text/css", :rel => "stylesheet"}
    /[if IE 8]
      %link{:href => "/css/bootstrap-ie7.css", :type => "text/css", :rel => "stylesheet"}

    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = include_gon
    = ga_js
    = perfectaudience_js(nil)
    = hotjar_tracking

    - if controller_name == "home"
      - if @keyword
        = new_fb_pixel('search')
      - else
        = new_fb_pixel('')
    - elsif controller_name == "orders"
      - if action_name == "show"
        = new_fb_pixel('thankyou', @order.total_orders_amount)
      - else
        = new_fb_pixel('')
    - else
      = new_fb_pixel('')

    - if controller_name == "orders" && action_name == "show" && !@order.blank?
      - pixel_id = @product.fb_pixel.nil? ? FbPixel::DEFAULT_ID[:thankyou] : @product.fb_pixel.thank_you_id
      = special_fb_pixel(pixel_id, 'AUD', 'thankyou')
      / = criteo_js('thankyou', @order, current_user)
    - else
      = retargeting_js
      = fb_pixel_code

    / - if controller_name == 'home' && action_name =='index'
    /   - if params[:search] && !@group1.empty?
    /     = criteo_js('search', @group1 + @group2, current_user)
    /   - else !@group1.empty?
    /     = criteo_js('home', '{ event: "viewHome" }', current_user)
  %body{style: "visibility: hidden"}
    .site-container
      - if controller_name == 'home'
        = render 'shared/home_header'
      - else
        = render 'shared/header'
      = yield
      - if controller_name != "products" && controller_name != "home"
        = render 'shared/testimonials'
      = render 'shared/pre_footer'
      = render 'shared/footer'
    = render 'shared/sizing'
    = render 'shared/ie_warning'

    - if controller_name == "products" && action_name == "show"
      = socail_smart_layer

    - if controller_name == "home"
      = recommend4u_js
      = socail_smart_layer

    = olark_js
    = vwo_js
    = kissmetrics_js
    = optimonk_js
    = optinmonster_js

    - if controller_name == "orders" && action_name == "show" && @order.present?
      - ty_id = @product.google_analytic.nil? ? nil : @product.google_analytic.thank_you_id
      = spec_ga_js(ty_id) unless ty_id.nil?

    = my_hellobar_js