!!!
%html{:'ng-app' => "FanTees"}
  %head
    %title Fantees - Dashboard
    = include_gon
    /[if IE 7]
      %link{:href => "/css/bootstrap-ie7.css", :type => "text/css", :rel => "stylesheet"}
    /[if IE 8]
      %link{:href => "/css/bootstrap-ie7.css", :type => "text/css", :rel => "stylesheet"}

    = stylesheet_link_tag    "dashboard", :media => "all"
    = javascript_include_tag "dashboard"
    = csrf_meta_tags
    %link{rel: "icon", type: "image/x-icon", href: "/favicon.ico"}
  %body
    .site-container
      .nav2-wrap
        / nav-wrap
        .center
          .col-lg-3.col-md-3.col-sm-3.col-xs-12.text-center.logo-holder.nopadding
            = link_to root_path do
              %img.logo{:alt => "logo", :src => "/assets/logo.png"}
          .col-lg-9.col-md-9.col-sm-9.col-xs-12.nopadding.menu-holder

            %ul.mainmenu.dashboard
              %li
                = link_to "HOME", "/dashboard/#/home"
              %li
                = link_to "ORDERS", "/dashboard/#/orders"
              - if @giftcards.count != 0
                %li
                  = link_to "GIFTCARDS", "/dashboard/#/giftcards"
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %span.user-img
                    %img{src: "#{current_user.avatar.url(:thumb)}", alt: "Author"}
                  Hi,
                  = current_user.first_name
                  %b.caret
                %ul.dropdown-menu
                  %li
                    = link_to "Profile", "/dashboard/#/profile"
                  %li
                    = link_to 'Logout', destroy_user_session_path, :method => :delete
              .clearfix
            .clearfix
          .clearfix
        .clearfix

      = yield

      .footer2-wrap
        .center
          .col-lg-9.col-md-9.col-sm-9.col-xs-12
            %ul.footer2-menu
              %li ©2014 FansTees.
              %li
                = link_to "Products", root_path
              %li
                = link_to "Shipping & Returns Policy", "/returns-exchanges"
              %li
                = link_to "Privacy Policy", "/privacy-policy"
              %li
                = link_to "Terms of Service", "/terms-of-service"
              %li
                = link_to "Contact Us", "/contact-us"
              .clearfix
          .col-lg-3.col-md-3.col-sm-3.col-xs-12.nopadding
            .footer2-social-icons
              %ul
                %li
                  %a.small-fb-icon{:href => "https://www.facebook.com/fanteesau", :target => "_blank"}
                %li
                  %a.small-tw-icon{:href => "https://twitter.com/fanteesau", :target => "_blank"}
                %li
                  %a.small-ins-icon{:href => "http://instagram.com/fanteesau", :target => "_blank"}
                %li.last-icon
                  %a.small-pin-icon{:href => "http://www.pinterest.com/fantees/", :target => "_blank"}
                .clearfix
          .clearfix
    = olark_js
    = kissmetrics_js