!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "5676486da1d13da3519c0c9ca1cb5d9e", :name => "p:domain_verify"}/
    %title
  %body{:lang => "en", :style => "background-color:#f7f5f5;background:#f7f5f5 url('http://passets-ak.pinterest.com/images/paper.jpg') repeat;padding:0;margin:0;"}
    = yield
