!!!
%html{:'ng-app' => "FanTees"}
  %head
    = csrf_meta_tags
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}

    - if controller_name == "products" && action_name == "show"
      - desc = @product.meta_description.blank? ? @product.sanitized_description : @product.meta_description
      - title = @product.seo_title.blank? ? @title : @product.seo_title

      %meta{property: "og:image", content: "#{@fb_og_image}"}
      %meta{property: "og:image:width", content: "278"}
      %meta{property: "og:image:height", content: "315"}
      %meta{property: "og:title", content: "#{title}"}
      %meta{property: "og:description", content: "#{desc}"}
      %meta{property: "og:url", content: "#{root_url}#{@product.slug}"}
      %meta{property: "og:type", content: "product"}
      %meta{name: "description", content: "#{desc}"}

    %meta{property: "twitter:account_id", content: "4503599631052683"}

    - page_title = @title.blank? ? "Fantees" : @title
    - page_title = @product && @product.seo_title ? @product.seo_title : page_title

    %title= page_title
    %link{:href => "//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,300,300italic", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "//fonts.googleapis.com/css?family=Lato:400,900,700", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "//fonts.googleapis.com/css?family=Pacifico", :rel => "stylesheet", :type => "text/css"}
    /[if IE 7]
      %link{:href => "/css/bootstrap-ie7.css", :type => "text/css", :rel => "stylesheet"}
    /[if IE 8]
      %link{:href => "/css/bootstrap-ie7.css", :type => "text/css", :rel => "stylesheet"}

    = include_gon
    = stylesheet_link_tag    "products", :media => "all"
    = javascript_include_tag "products"

    %link{rel: "icon", type: "image/x-icon", href: "/favicon.ico"}

    = ga_js
    = fb_pixel_code
    = hotjar_tracking

    - if controller_name == "products" && action_name == "show"
      - pixel_id = @product.fb_pixel.nil? ? FbPixel::DEFAULT_ID[:landing] : @product.fb_pixel.landing_id
      = special_fb_pixel(pixel_id, 'AUD', 'landing')

      = respond_js
      = perfectaudience_js(@product.url)
      / = criteo_js('product', @product, current_user)
      = kpv_code

      / = new_fb_pixel('')
    - else
      = fb_pixel_code
      = perfectaudience_js(nil)

    - if controller_name == "cart"
      / = criteo_js('cart', @cart.all, current_user)
      = fb_cart_code

      = new_fb_pixel('cart')
      / - if action_name == "index"
      /   = new_fb_pixel('cart')
      / - elsif action_name == "creditcard"
      /   = new_fb_pixel('creditcard')
    - else
      = new_fb_pixel ''

  %body{'ng-cloak' => ""}
    .site-container
      = render 'shared/header'
      = yield
      = render 'shared/testimonials' if controller_name != "cart" && action_name != "creditcard"
      = render 'shared/pre_footer' if controller_name != "cart" && action_name != "creditcard"
      = render 'shared/footer'
    = render 'shared/sizing'
    = render 'shared/ie_warning'

    = socail_smart_layer if controller_name == "products" && action_name == "show"
    = olark_js
    = vwo_js
    = kissmetrics_js
    = optimonk_js
    = optinmonster_js

    - if controller_name == "products" && action_name == "show"
      - landing_id = @product.google_analytic.nil? ? nil : @product.google_analytic.landing_id
      = spec_ga_js(landing_id) unless landing_id.nil?

      = my_hellobar_js unless ['2030-mh', '2031-dp', '2032-ppp', '2033-nnhg'].include? @product.slug
    - else controller_name == "cart"
      = my_hellobar_js
